@import "../mixins.less";

.sample-block {
  margin-bottom: 3em;
}

.sample-line{
  margin: 1em 0;
  .clearfix(both);
}

.sample-inputs{
  margin-top: 30px;

  .sample-input{
    width: 300px;

    &.error{
      margin-bottom: 30px;
    }
  }

  .sample-textarea{
    width: 60%;
    min-height: 100px;
  }
}

.sample-pass{
  display: inline-block;
}

.sample__showPassword{
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin-left: 12px;

  .nonselectable;

  span{
    line-height: 16px;
    display: none;
    &:first-child{
      display: inline;
    }
  }

  &.showpass span{
    display: inline;

    &:first-child{
      display: none;
    }
  }
}

.sample-font-arial,
.sample-font-arial + dd{
  font-family: 'Arial';
}

.sample-font-schlange,
.sample-font-schlange + dd{
  font-family: 'ALS Schlange Sans';
  font-weight: normal;
}

.sample-font-schlange-bold,
.sample-font-schlange-bold + dd{
  font-family: 'ALS Schlange Sans';
  font-weight: bold;
}

dd + dt{
  margin-top: 12px;
}

