/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sample-block {
  margin-bottom: 3em;
}
.sample-line {
  margin: 1em 0;
}
.sample-line:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.sample-inputs {
  margin-top: 30px;
}
.sample-inputs .sample-input {
  width: 300px;
}
.sample-inputs .sample-input.error {
  margin-bottom: 30px;
}
.sample-inputs .sample-textarea {
  width: 60%;
  min-height: 100px;
}
.sample-pass {
  display: inline-block;
}
.sample__showPassword {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin-left: 12px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.sample__showPassword span {
  line-height: 16px;
  display: none;
}
.sample__showPassword span:first-child {
  display: inline;
}
.sample__showPassword.showpass span {
  display: inline;
}
.sample__showPassword.showpass span:first-child {
  display: none;
}
.sample-font-arial,
.sample-font-arial + dd {
  font-family: 'Arial';
}
.sample-font-schlange,
.sample-font-schlange + dd {
  font-family: 'ALS Schlange Sans';
  font-weight: normal;
}
.sample-font-schlange-bold,
.sample-font-schlange-bold + dd {
  font-family: 'ALS Schlange Sans';
  font-weight: bold;
}
dd + dt {
  margin-top: 12px;
}