@import "../../lib/painter.less";
@import "../../mixins.less";


.not_display{
  height: 0 !important;
  overflow: hidden !important;
}

.catalog.personal_products__shelf{
  margin-right: 270px;

  .shelf-header{
    text-align: center;
    padding-top: 114px;
    margin-right: 57px;

    &.shelf_all .shelf-logo         { width: 31px; height: 59px; background-image: url('/f/personal/products/shelf-all-big.png'); }
    &.shelf_animals .shelf-logo     { width: 34px; height: 32px; background-image: url('/f/personal/products/shelf-animals-big.png'); }
    &.shelf_dairy .shelf-logo       { width: 52px; height: 50px; background-image: url('/f/personal/products/shelf-dairy-big.png'); }
    &.shelf_drinks .shelf-logo      { width: 30px; height: 46px; background-image: url('/f/personal/products/shelf-drinks-big.png'); }
    &.shelf_meat .shelf-logo        { width: 45px; height: 55px; background-image: url('/f/personal/products/shelf-meat-big.png'); }
    &.shelf_frozen .shelf-logo      { width: 55px; height: 55px; background-image: url('/f/personal/products/shelf-frozen-big.png'); }
    &.shelf_related .shelf-logo     { width: 41px; height: 53px; background-image: url('/f/personal/products/shelf-related-big.png'); }
    &.shelf_sweets .shelf-logo      { width: 51px; height: 37px; background-image: url('/f/personal/products/shelf-sweets-big.png'); }
    &.shelf_vegetables .shelf-logo  { width: 32px; height: 42px; background-image: url('/f/personal/products/shelf-vegetables-big.png'); }

    &.shelf_all .shelf-img         { height: 64px; background-image: url('/f/personal/products/shelf-img-4.png'); }
    &.shelf_animals .shelf-img     { height: 64px; background-image: url('/f/personal/products/shelf-img-4.png'); }
    &.shelf_dairy .shelf-img       { height: 68px; background-image: url('/f/personal/products/shelf-img-2.png'); }
    &.shelf_drinks .shelf-img      { height: 68px; background-image: url('/f/personal/products/shelf-img-2.png'); }
    &.shelf_meat .shelf-img        { height: 64px; background-image: url('/f/personal/products/shelf-img-3.png'); }
    &.shelf_frozen .shelf-img      { height: 64px; background-image: url('/f/personal/products/shelf-img-1.png'); }
    &.shelf_related .shelf-img     { height: 64px; background-image: url('/f/personal/products/shelf-img-4.png'); }
    &.shelf_sweets .shelf-img      { height: 64px; background-image: url('/f/personal/products/shelf-img-4.png'); }
    &.shelf_vegetables .shelf-img  { height: 68px; background-image: url('/f/personal/products/shelf-img-2.png'); }

    .shelf-header-outer{
      height: 128px;
      position: relative;
    }

    .shelf-header-inner{
      position: absolute;
      bottom: 0;
    }

    .shelf-logo{
      margin: 0 auto 12px;
      background-repeat: no-repeat;
    }

    .shelf-img{
      width: 160px;
      margin-top: 20px;
      margin-bottom: -24px;
      background-repeat: no-repeat;
    }

    .shelf-title{
      display: block;
      line-height: 27px;
      font-weight: bold;
    }
  }


  .shelf-footer{
    max-width: none;
    text-align: center;

    .shelf-footer-outer{
      height: 218px;
      position: relative;
    }

    .shelf-footer-inner{
      position: absolute;
      bottom: 0;
      background: url("/f/personal/products/more.png") no-repeat;
      width: 152px;
      height: 160px;
    }

    .shelf-link-more{
      position: relative;
      top: 64px;
      left: -8px;
    }
  }
}




.personal_products__filters{
  padding-top: 65px;

  &.affix{
    margin-top: 200px;
  }
}

.itemset-products{
  @SPACE_FOR_ICON: 42px;
  @BORDER_WIDTH: 1px;
  @GRID_STEP_X: 32px;
  @GRID_STEP_Y: 32px;

  .shelf-icon(@pos, @width, @height, @dx, @dy){
    @offset_icon: -@pos * @GRID_STEP_Y;
    @offset_def: 0;
    @offset_hover: -@GRID_STEP_X;
    @offset_selected: -@GRID_STEP_X * 2;

    .link-pseudo{
      &:before{
        background-position: @offset_def @offset_icon;
        width: @width;
        height: @height;
        left: @dx - (@width/2);
        top: @dy;
      }

      &:hover:before{
        background-position: @offset_hover @offset_icon;
      }
    }

    &.selected .link-pseudo:before{
      background-position: @offset_selected @offset_icon;
    }
  }

  .itemset-products-row{
    margin-bottom: 15px;
  }

  .itemset-item{
    position: relative;
    display: inline-block;
    height: 32px;
    line-height: 31px;

    font-size: 15px;
    font-family: 'ALS Schlange Sans';
    font-weight: bold;
    padding-left: @SPACE_FOR_ICON !important;
    background-image: none !important;

    &.shelf_all         { .shelf-icon(0, 12px, 21px, -20px, -1px); }
    &.shelf_animals     { .shelf-icon(1, 19px, 18px, -20px, 0); }
    &.shelf_dairy       { .shelf-icon(2, 25px, 24px, -20px, -1px); }
    &.shelf_drinks      { .shelf-icon(3, 14px, 22px, -20px, -1px); }
    &.shelf_meat        { .shelf-icon(4, 20px, 25px, -20px, -1px); }
    &.shelf_frozen      { .shelf-icon(5, 27px, 27px, -20px, -3px); }
    &.shelf_related     { .shelf-icon(6, 21px, 22px, -20px, -2px); }
    &.shelf_sweets      { .shelf-icon(7, 23px, 16px, -20px, 2px); }
    &.shelf_vegetables  { .shelf-icon(8, 16px, 21px, -20px, 0px); }

    .link-pseudo{
      position: relative;

      /**/
      display: inline-block;
      line-height: 20px !important;
      /**/

      &:before{
        content: '';
        position: absolute;
        background-image: url('/f/personal/products/shelves.png');
        background-repeat: no-repeat;
      }
    }

    &.selected{
      padding: 0 10px 0 @SPACE_FOR_ICON;
      color: @COLOR_BLACK;

      .link-pseudo,
      .link-pseudo:hover{
        color: @COLOR_BLACK;
        background: none !important;
        cursor: default;
      }
    }

    .amount{
      display: inline-block;
      margin-left: 4px;
      font-family: 'Arial';
      font-weight: normal;
      font-size: 12px;
      color: @COLOR_GRAY !important;
      cursor: default;
    }


  }
}


.recommended{
  margin-top: 40px;
}