/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.not_display {
  height: 0 !important;
  overflow: hidden !important;
}
.catalog.personal_products__shelf {
  margin-right: 270px;
}
.catalog.personal_products__shelf .shelf-header {
  text-align: center;
  padding-top: 114px;
  margin-right: 57px;
}
.catalog.personal_products__shelf .shelf-header.shelf_all .shelf-logo {
  width: 31px;
  height: 59px;
  background-image: url('/f/personal/products/shelf-all-big.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_animals .shelf-logo {
  width: 34px;
  height: 32px;
  background-image: url('/f/personal/products/shelf-animals-big.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_dairy .shelf-logo {
  width: 52px;
  height: 50px;
  background-image: url('/f/personal/products/shelf-dairy-big.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_drinks .shelf-logo {
  width: 30px;
  height: 46px;
  background-image: url('/f/personal/products/shelf-drinks-big.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_meat .shelf-logo {
  width: 45px;
  height: 55px;
  background-image: url('/f/personal/products/shelf-meat-big.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_frozen .shelf-logo {
  width: 55px;
  height: 55px;
  background-image: url('/f/personal/products/shelf-frozen-big.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_related .shelf-logo {
  width: 41px;
  height: 53px;
  background-image: url('/f/personal/products/shelf-related-big.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_sweets .shelf-logo {
  width: 51px;
  height: 37px;
  background-image: url('/f/personal/products/shelf-sweets-big.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_vegetables .shelf-logo {
  width: 32px;
  height: 42px;
  background-image: url('/f/personal/products/shelf-vegetables-big.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_all .shelf-img {
  height: 64px;
  background-image: url('/f/personal/products/shelf-img-4.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_animals .shelf-img {
  height: 64px;
  background-image: url('/f/personal/products/shelf-img-4.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_dairy .shelf-img {
  height: 68px;
  background-image: url('/f/personal/products/shelf-img-2.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_drinks .shelf-img {
  height: 68px;
  background-image: url('/f/personal/products/shelf-img-2.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_meat .shelf-img {
  height: 64px;
  background-image: url('/f/personal/products/shelf-img-3.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_frozen .shelf-img {
  height: 64px;
  background-image: url('/f/personal/products/shelf-img-1.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_related .shelf-img {
  height: 64px;
  background-image: url('/f/personal/products/shelf-img-4.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_sweets .shelf-img {
  height: 64px;
  background-image: url('/f/personal/products/shelf-img-4.png');
}
.catalog.personal_products__shelf .shelf-header.shelf_vegetables .shelf-img {
  height: 68px;
  background-image: url('/f/personal/products/shelf-img-2.png');
}
.catalog.personal_products__shelf .shelf-header .shelf-header-outer {
  height: 128px;
  position: relative;
}
.catalog.personal_products__shelf .shelf-header .shelf-header-inner {
  position: absolute;
  bottom: 0;
}
.catalog.personal_products__shelf .shelf-header .shelf-logo {
  margin: 0 auto 12px;
  background-repeat: no-repeat;
}
.catalog.personal_products__shelf .shelf-header .shelf-img {
  width: 160px;
  margin-top: 20px;
  margin-bottom: -24px;
  background-repeat: no-repeat;
}
.catalog.personal_products__shelf .shelf-header .shelf-title {
  display: block;
  line-height: 27px;
  font-weight: bold;
}
.catalog.personal_products__shelf .shelf-footer {
  max-width: none;
  text-align: center;
}
.catalog.personal_products__shelf .shelf-footer .shelf-footer-outer {
  height: 218px;
  position: relative;
}
.catalog.personal_products__shelf .shelf-footer .shelf-footer-inner {
  position: absolute;
  bottom: 0;
  background: url("/f/personal/products/more.png") no-repeat;
  width: 152px;
  height: 160px;
}
.catalog.personal_products__shelf .shelf-footer .shelf-link-more {
  position: relative;
  top: 64px;
  left: -8px;
}
.personal_products__filters {
  padding-top: 65px;
}
.personal_products__filters.affix {
  margin-top: 200px;
}
.itemset-products .itemset-products-row {
  margin-bottom: 15px;
}
.itemset-products .itemset-item {
  position: relative;
  display: inline-block;
  height: 32px;
  line-height: 31px;
  font-size: 15px;
  font-family: 'ALS Schlange Sans';
  font-weight: bold;
  padding-left: 42px !important;
  background-image: none !important;
}
.itemset-products .itemset-item.shelf_all .link-pseudo:before {
  background-position: 0 0px;
  width: 12px;
  height: 21px;
  left: -26px;
  top: -1px;
}
.itemset-products .itemset-item.shelf_all .link-pseudo:hover:before {
  background-position: -32px 0px;
}
.itemset-products .itemset-item.shelf_all.selected .link-pseudo:before {
  background-position: -64px 0px;
}
.itemset-products .itemset-item.shelf_animals .link-pseudo:before {
  background-position: 0 -32px;
  width: 19px;
  height: 18px;
  left: -29.5px;
  top: 0;
}
.itemset-products .itemset-item.shelf_animals .link-pseudo:hover:before {
  background-position: -32px -32px;
}
.itemset-products .itemset-item.shelf_animals.selected .link-pseudo:before {
  background-position: -64px -32px;
}
.itemset-products .itemset-item.shelf_dairy .link-pseudo:before {
  background-position: 0 -64px;
  width: 25px;
  height: 24px;
  left: -32.5px;
  top: -1px;
}
.itemset-products .itemset-item.shelf_dairy .link-pseudo:hover:before {
  background-position: -32px -64px;
}
.itemset-products .itemset-item.shelf_dairy.selected .link-pseudo:before {
  background-position: -64px -64px;
}
.itemset-products .itemset-item.shelf_drinks .link-pseudo:before {
  background-position: 0 -96px;
  width: 14px;
  height: 22px;
  left: -27px;
  top: -1px;
}
.itemset-products .itemset-item.shelf_drinks .link-pseudo:hover:before {
  background-position: -32px -96px;
}
.itemset-products .itemset-item.shelf_drinks.selected .link-pseudo:before {
  background-position: -64px -96px;
}
.itemset-products .itemset-item.shelf_meat .link-pseudo:before {
  background-position: 0 -128px;
  width: 20px;
  height: 25px;
  left: -30px;
  top: -1px;
}
.itemset-products .itemset-item.shelf_meat .link-pseudo:hover:before {
  background-position: -32px -128px;
}
.itemset-products .itemset-item.shelf_meat.selected .link-pseudo:before {
  background-position: -64px -128px;
}
.itemset-products .itemset-item.shelf_frozen .link-pseudo:before {
  background-position: 0 -160px;
  width: 27px;
  height: 27px;
  left: -33.5px;
  top: -3px;
}
.itemset-products .itemset-item.shelf_frozen .link-pseudo:hover:before {
  background-position: -32px -160px;
}
.itemset-products .itemset-item.shelf_frozen.selected .link-pseudo:before {
  background-position: -64px -160px;
}
.itemset-products .itemset-item.shelf_related .link-pseudo:before {
  background-position: 0 -192px;
  width: 21px;
  height: 22px;
  left: -30.5px;
  top: -2px;
}
.itemset-products .itemset-item.shelf_related .link-pseudo:hover:before {
  background-position: -32px -192px;
}
.itemset-products .itemset-item.shelf_related.selected .link-pseudo:before {
  background-position: -64px -192px;
}
.itemset-products .itemset-item.shelf_sweets .link-pseudo:before {
  background-position: 0 -224px;
  width: 23px;
  height: 16px;
  left: -31.5px;
  top: 2px;
}
.itemset-products .itemset-item.shelf_sweets .link-pseudo:hover:before {
  background-position: -32px -224px;
}
.itemset-products .itemset-item.shelf_sweets.selected .link-pseudo:before {
  background-position: -64px -224px;
}
.itemset-products .itemset-item.shelf_vegetables .link-pseudo:before {
  background-position: 0 -256px;
  width: 16px;
  height: 21px;
  left: -28px;
  top: 0px;
}
.itemset-products .itemset-item.shelf_vegetables .link-pseudo:hover:before {
  background-position: -32px -256px;
}
.itemset-products .itemset-item.shelf_vegetables.selected .link-pseudo:before {
  background-position: -64px -256px;
}
.itemset-products .itemset-item .link-pseudo {
  position: relative;
  /**/
  display: inline-block;
  line-height: 20px !important;
  /**/
}
.itemset-products .itemset-item .link-pseudo:before {
  content: '';
  position: absolute;
  background-image: url('/f/personal/products/shelves.png');
  background-repeat: no-repeat;
}
.itemset-products .itemset-item.selected {
  padding: 0 10px 0 42px;
  color: #000000;
}
.itemset-products .itemset-item.selected .link-pseudo,
.itemset-products .itemset-item.selected .link-pseudo:hover {
  color: #000000;
  background: none !important;
  cursor: default;
}
.itemset-products .itemset-item .amount {
  display: inline-block;
  margin-left: 4px;
  font-family: 'Arial';
  font-weight: normal;
  font-size: 12px;
  color: #656565 !important;
  cursor: default;
}
.recommended {
  margin-top: 40px;
}