@import "../mixins.less";


.feedback_info{

  .tab-header.selected{
    color: @COLOR_GREEN;
  }

  .tabs-contents{
    padding-bottom: 150px;
    border-top-right-radius: 8px;


    position: relative;
    &:after{
      content: "";
      position: absolute;
      top: -88px;
      margin-top: -6px;
      margin-right: 24px;
      right: 0;
      width: 204px;
      height: 88px;
      background: url("/f/postal-envelope.png");
    }
  }
}

