/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.feedback_info .tab-header.selected {
  color: #308011;
}
.feedback_info .tabs-contents {
  padding-bottom: 150px;
  border-top-right-radius: 8px;
  position: relative;
}
.feedback_info .tabs-contents:after {
  content: "";
  position: absolute;
  top: -88px;
  margin-top: -6px;
  margin-right: 24px;
  right: 0;
  width: 204px;
  height: 88px;
  background: url("/f/postal-envelope.png");
}