/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.delivery-info {
  max-width: 900px;
}
.delivery-zones {
  margin-bottom: 40px;
  overflow: hidden;
}
.delivery-zone {
  float: left;
  width: 50%;
  max-width: 450px;
  position: relative;
  overflow: hidden;
  padding: 0 26px;
}
.delivery-zone-yellow,
.delivery-zone-lightblue,
.delivery-zone-green,
.delivery-zone-purple,
.delivery-zone-blue {
  position: relative;
  padding-left: 26px;
  margin-bottom: 5px;
}
.delivery-zone-yellow:before,
.delivery-zone-lightblue:before,
.delivery-zone-green:before,
.delivery-zone-purple:before,
.delivery-zone-blue:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: bottom;
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  content: '';
}
.delivery-zone-yellow:before {
  top: 20px;
  background: #f4d630;
}
.delivery-zone-lightblue:before {
  background: #4eb6df;
}
.delivery-zone-green:before {
  background: #7dd45a;
}
.delivery-zone-purple:before {
  background: #e09cdb;
}
.delivery-zone-blue:before {
  background: #005da6;
}