/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header-search-prompt {
  display: none;
}
.header-search {
  margin-top: 30px;
}
.search-input {
  text-align: left;
}
.error__content {
  margin-top: 133px;
  text-align: center;
}