@import "../mixins.less";

.header-search-prompt{
  display: none;
}

.header-search{
  margin-top: 30px;
}

.search-input{
  text-align: left;
}

.error__content{
  margin-top: 133px;
  text-align: center;

}