/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.balloonTitle {
  margin-top: 0;
}
.contacts_info {
  margin-bottom: 22px;
}
.contacts_info .contacts_info_item {
  line-height: 1;
}
.contacts_info h5 {
  margin-top: 0;
  display: inline-block;
}
.form-row {
  padding-bottom: 21px;
}
.form-label {
  padding-top: 4px;
}
.phone {
  font-weight: normal;
}
.contacts_form {
  margin-top: 35px;
}
.contacts_form .form-label {
  width: 160px;
  float: left;
}
.contacts_form .form-control {
  margin-left: 160px;
  display: block;
  width: auto;
}
.contacts_form .phone {
  width: 130px;
}
.contacts_form .email {
  width: 210px;
}
.contacts_form .name {
  display: inline-block;
  width: 415px;
}
.contacts_form .message {
  min-height: 100px;
  max-width: 600px;
}
.contacts_form .phone + .field-hint-wrapper {
  padding-left: 150px;
}
.contacts_form .email + .field-hint-wrapper {
  padding-left: 230px;
}
.contacts_form .field-hint-wrapper {
  margin-top: -27px;
  line-height: 27px;
  height: 27px;
}
.contacts_form .field-hint-wrapper .field-hint {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 14px;
  font-style: italic;
  color: #7b7b7b;
}
.contacts_form .captcha-error {
  display: inline-block;
  visibility: hidden;
  margin-left: 12px;
  font-size: 12px;
  color: orangered;
  margin-top: 6px;
}
.tabs-headers .comment {
  position: relative;
  left: 25px;
  top: -10px;
  font-size: 12px;
}
.tabs-contents {
  border-top-right-radius: 8px;
}
/* CAPTCHA */
.itemset-captcha .itemset-item {
  display: inline-block;
  background-image: none;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  margin-left: 12px;
}
.itemset-captcha .itemset-item:first-child {
  margin-left: 0;
}
.itemset-captcha .itemset-item:hover {
  border-color: #b0b0b0;
}
.itemset-captcha .itemset-item:hover.disabled:not(.selected) {
  border-color: transparent;
}
.itemset-captcha .itemset-item.selected {
  border-color: #308011;
}
.itemset-captcha .itemset-item.selected.disabled {
  border-color: #b0b0b0;
}