@import "../mixins.less";

.balloonTitle{
  margin-top: 0;
}

.contacts_info{
  margin-bottom: 22px;

  .contacts_info_item{
    line-height: 1;
  }
  h5{
    margin-top: 0;
    display: inline-block;
  }
}

.form-row{
  padding-bottom: 21px;
}

.form-label{
  padding-top: 4px;
}

.phone{//TODO: почему-то глобально задано bold
  font-weight: normal;
}

.contacts_form{
  margin-top: 35px;

  .form-label{
    width: 160px;
    float: left;
  }
  .form-control{
    margin-left: 160px;
    display: block;
    width: auto;
  }

  .phone{
    width: 130px;
  }

  .email{
    width: 210px;
  }

  .name{
    display: inline-block;
    width: 415px;
  }

  .message{
    min-height: 100px;
    max-width: 600px;
  }

  .phone + .field-hint-wrapper{
    padding-left: 150px;
  }
  .email + .field-hint-wrapper{
    padding-left: 230px;
  }

  .field-hint-wrapper{
    margin-top: -27px;
    line-height: 27px;
    height: 27px;

    .field-hint{
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      line-height: 14px;
      font-style: italic;
      color: @COLOR_GRAY_LIGHT;
    }
  }


  .captcha-error{
    display: inline-block;
    visibility: hidden;
    margin-left: 12px;
    font-size: 12px;
    color: orangered;
    margin-top: 6px;
  }
}


.tabs-headers .comment{
  position: relative;
  left: 25px;
  top: -10px;

  font-size: 12px;
}

.tabs-contents{
  border-top-right-radius: 8px;
}


/* CAPTCHA */
.itemset-captcha{
  .itemset-item{
    display: inline-block;
    background-image: none;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;

    margin-left: 12px;

    &:first-child{
      margin-left: 0;
    }

    &:hover{
      border-color: @COLOR_GRAY_LIGHTER;

      &.disabled:not(.selected){
        border-color: transparent;
      }
    }

    &.selected{
      border-color: @COLOR_GREEN;

      &.disabled{
        border-color: @COLOR_GRAY_LIGHTER;
      }
    }
  }
}





