@import "../../mixins.less";


/**/
.form-control {
  width: 77%;

  .ie8 &{
    width: 76%;
  }
}

.form-label {
   width: 23%;
}

.form-label{
  padding-top: 4px;
  vertical-align: top;
}

.phone{//TODO: почему-то глобально задано bold
  font-weight: normal;
}

.popupArrowFix .popup-body{
  &:before,
  &:after{
    left:18px;
  }
}
/**/

.content{
  margin-right: 265px;
}

.hr-line{
  height: 8px;
  border-bottom: 1px solid #ebebec;
  margin-bottom: 6px;
}

.hr-text{
  .hr-line;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  padding-left: 20%;
  text-indent: 20px;
  text-shadow:  0 0 4px white;
  margin-bottom: 20px;
  margin-top: 24px;
}


.form{
  .address-name{
    font-size: 13px;
  }

  .form-line {
    display: block;
    margin-bottom: 12px;
  }

  .form-row{
    padding: 0;



    &.form-row-button{
      display: none;
      margin-bottom: 20px;
    }
  }

  .form-block{
    width: 46px;
  }

  .name-street,
  .name-name,
  .name-addressName,
  .name-email{
    width: 300px;
  }

  .name-phone{
     width: 176px;
   }

  .name-password_old,
  .name-password_new{
    width: 120px;
    display: inline-block;
  }

  .name-building,
  .name-building2,
  .name-building3,
  .name-apartment{
    text-align: center;
    width: 50px;
  }

  .name-phone{
    display: inline-block;
  }

  .hint{
    display: inline-block;
    font-family: 'Arial';
    font-size: 12px;
    font-style: italic;
    color: @COLOR_GRAY_LIGHT;
  }

  .input + .hint{
    margin-left: 12px;
  }

  label{
    font-size: 13px;
    font-weight: normal;
  }
}


/* Смена пароля для входа */
.form-password{
  margin-top: 20px;
  padding-bottom: 8px;
  border-radius: 3px;
  background: #f5f5f5;
  position: relative;

  .form-row-button{
    margin-bottom: 0 !important;
  }

  .form-password-title{
    margin-top: 18px;
    font-size: 14px;
    font-weight: bold;
  }

  .form-password-arrow{
    display: inline-block;
    background: url("/f/personal/settings/passwords-arrow.png");
    width: 16px;
    height: 11px;
    margin: 0 8px;
    position: relative;
    top: 2px;
  }

  .form-password-showpass{
    display: inline-block;
    margin-left: 12px;
    font-size: 13px;
    .nonselectable;

    .for-mode-hidepass{ display: none; }

    &.mode-hidepass{
      .for-mode-hidepass{ display: inline; }
      .for-mode-showpass{ display: none; }
    }
  }
}

.form-control{
  position: relative;

  .withPopup &{
    padding-bottom: 21px;
  }
}
.personal_settings__addAddressLink,
.personal_settings__addRecipientLink,
.personal_settings__removeAddressLink,
.personal_settings__removeRecipientLink{
  position: absolute;
  right: 0;
  top: 0;
}

.personal_settings__removeAddressLink,
.personal_settings__removeRecipientLink{
  font-size: 13px;
  line-height: 1.2em;
  .nonselectable;
}


.done{
  display: none;
  color: @COLOR_GREEN;
  height: 30px;
  line-height: 30px;
  &:before{
    content: "";
    display: inline-block;
    background: url("/f/done.png");
    width: 12px;
    height: 11px;
    margin-right: 4px;
  }
}

.switcher_simple .handle{
  opacity: 1 !important;
}

input[disabled]{
  color: @COLOR_BLACK !important;
}


.form-address .form-row-button{
  padding-top: 0;
}
.form-recipient .form-row-button{
  padding-top: 18px;
}
.form-password .form-row-button{
  padding-top: 13px;
}