@import "../mixins.less";

.set-info,
.set-filters {
  margin-bottom: 20px;
}

.sidebar-set {
  position: relative;
  text-align: center;
}

.sidebar-set-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 270px;
  margin-bottom: 80px;
  text-align: center;
}

.sidebar-set-text {
  position: relative;
  height: 270px;
  padding: 50px 80px 135px 80px;
  overflow: hidden;
}


.sidebar-set-price {
  font-size: 35px;
  margin-bottom: 10px;
}
