/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.set-info,
.set-filters {
  margin-bottom: 20px;
}
.sidebar-set {
  position: relative;
  text-align: center;
}
.sidebar-set-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 270px;
  margin-bottom: 80px;
  text-align: center;
}
.sidebar-set-text {
  position: relative;
  height: 270px;
  padding: 50px 80px 135px 80px;
  overflow: hidden;
}
.sidebar-set-price {
  font-size: 35px;
  margin-bottom: 10px;
}