@import "../mixins.less";

.walletSize{
  color: @COLOR_BLACK;
  padding-left: 5px;
}

.contents{ /* убираем сайдбар и растягиваем контент на всю ширину */
  overflow: visible;
  padding-right: 25px;
  margin-right: 0;
}

.submenu {
  margin-bottom: 35px;
  position: relative;
  left: -13px;
  margin-right: -13px;
}



/* itemScroller */
.itemScroller {
  position: relative;
  height: 270px;

  .outer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

  }

  .inner, .arrow {
    position: absolute;
  }

  .inner {
    white-space: nowrap;
    left: 0;
    top: 0;
  }

  a.item {
    display: inline-block;
    position: relative;
    border: none;
  }
}

.itemScroller .outer {
  /* белая тень слева и справа */
  &:before {
    content: "";
    position: absolute;
    width: 50px;
    left: -50px;
    top: -10%;
    height: 120%;
    box-shadow: 20px 0 30px white;
    z-index: 1;
  }

  &:after {
    content: "";
    position: absolute;
    width: 50px;
    right: -50px;
    top: -10%;
    height: 120%;
    box-shadow: -20px 0 30px white;
  }
}

.itemScroller .arrow {
  position: absolute;
  width: 20px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 17px;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -8px;
    background: url("/f/personal/wallet/arrows.png");
  }

  &.left {
    left: -20px;
  }

  &.right {
    right: -20px;

    &:after {
      background-position: -9px 0;
    }
  }
}



