@import "../links.less";
@import "../mixins.less";

a.default {
  color: @COLOR_GRAY;
  .underline(@color: fade(@COLOR_GRAY, @A_UNDERLINE_OPACITY));
}

a.dev {
  color: @COLOR_BLUE;
  .underline(@color: fade(@COLOR_BLUE, @A_UNDERLINE_OPACITY));
}

a.test {
  color: @COLOR_GREEN_LIGHT;
  .underline(@color: fade(@COLOR_GREEN_LIGHT, @A_UNDERLINE_OPACITY));
}

a.complete {
  color: @COLOR_GREEN;
  .underline(@color: fade(@COLOR_GREEN, @A_UNDERLINE_OPACITY));
}

a.default:hover,
a.dev:hover,
a.test:hover,
a.complete:hover {
  color: @COLOR_RED;
  .underline(@color: fade(@COLOR_RED, @A_UNDERLINE_OPACITY));
}

.scheme_legend {
  position: relative;
  float: right;
  padding: 40px 20px;
  font-size: 90%;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2);
  cursor: pointer;
}

.scheme_legend_close {
  position: absolute;
  font-size: 100%;
  top: 10px;
  right: 10px;
  .nonselectable();
}