@import "../mixins.less";

.news-subscribe {
  margin: -20px 0 20px 0;
}

.news-item {
  display: block;
  max-width: 1111px;
  margin-bottom: 40px;
  overflow: hidden;
}

.news-item-image {
  position: relative;
  float: right;
  max-width: 300px;
  margin-right: 20px;
  border-radius: 12px;
  overflow: hidden;
}

.news-item-image img {
  position: relative;
  left: -20%;
  -webkit-transition: left .1s ease-out;
  -moz-transition: left .1s ease-out;
  transition: left .1s ease-out;
}

.news-item:hover .news-item-image img {
  left: 0;
}

.news-item-image:after {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -80px;
  width: 70px;
  height: 160px;
  background: url('/f/news/overlay.png') no-repeat center;
  content: '';
}

.news-item-header {
  margin-top: 8px;
  font-size: 25px;
}

.news-item-text {
  margin: 5px 0;
}

.news-item-date {
  .secondary();
}

.news-paginator-title {
  margin-right: 10px;
}