/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.news-subscribe {
  margin: -20px 0 20px 0;
}
.news-item {
  display: block;
  max-width: 1111px;
  margin-bottom: 40px;
  overflow: hidden;
}
.news-item-image {
  position: relative;
  float: right;
  max-width: 300px;
  margin-right: 20px;
  border-radius: 12px;
  overflow: hidden;
}
.news-item-image img {
  position: relative;
  left: -20%;
  -webkit-transition: left 0.1s ease-out;
  -moz-transition: left 0.1s ease-out;
  transition: left 0.1s ease-out;
}
.news-item:hover .news-item-image img {
  left: 0;
}
.news-item-image:after {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -80px;
  width: 70px;
  height: 160px;
  background: url('/f/news/overlay.png') no-repeat center;
  content: '';
}
.news-item-header {
  margin-top: 8px;
  font-size: 25px;
}
.news-item-text {
  margin: 5px 0;
}
.news-item-date {
  font-style: italic;
  color: #656565;
}
.news-paginator-title {
  margin-right: 10px;
}