/* colors */
.sidebar {
  padding-top: 200px;
}
.sidebar p {
  color: #656565;
}
.sidebar strong {
  color: #000000;
}
.form-map-external {
  font-size: 13px;
  text-align: right;
}
.pickup-point {
  margin-bottom: 40px;
}
.pickup-point-info {
  margin: 10px 0 20px 0;
}
.pickup-routes,
.pickup-time {
  margin-bottom: 40px;
}
.pickup-by-car,
.pickup-by-metro {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  padding-right: 2%;
}
.form-map {
  width: 100%;
  height: 500px;
}
.popupArrowFix .popup-body:before,
.popupArrowFix .popup-body:after {
  left: 18px;
}
.form-line-fix {
  margin-bottom: 32px;
}
.form-self-delivery p.profile-info {
  font-size: 12px;
  font-style: italic;
  color: #a4a4a4;
}
.form-self-delivery label.self-delivery-label {
  color: #7e7e7e;
}
.form-summ {
  position: absolute;
  left: 420px;
}
.form-summ .form-price-line-total {
  font-size: 20px;
}
.magazine-line h5 {
  margin-bottom: 0;
}
.magazine-line p {
  margin-top: 0;
}
.self-delivery-button {
  height: 41px;
  width: 188px;
  border-radius: 15px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
a.add-account {
  background: none;
  font-style: italic;
  margin-top: 15px;
}