@import "../variables";

.sidebar {
  padding-top: 200px;
}

.sidebar p {
  color: @COLOR_GRAY;
}

.sidebar strong {
  color: @COLOR_BLACK;
}

.form-map-external {
  font-size: 13px;
  text-align: right;
}

.pickup-point {
  margin-bottom: 40px;
}

.pickup-point-info {
  margin: 10px 0 20px 0;
}

.pickup-info,
.pickup-routes,
.pickup-time {
  margin-bottom: 40px;
}

.pickup-by-car,
.pickup-by-metro {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-right: 2%;
}

.form-map {
  width: 100%;
  height: 500px;
}


.popupArrowFix .popup-body{
  &:before,
  &:after{
    left:18px;
  }
}

.form-line-fix{
  margin-bottom: 32px;
}
