@FOOTER_HEIGHT: 240px;

.layout {
  margin: 0 auto -@FOOTER_HEIGHT;
}

.page {
  padding-bottom: @FOOTER_HEIGHT;
}

.footer {
  min-height: @FOOTER_HEIGHT;
}

.footer-als {
  padding-bottom: 40px;
  font-size: 12px;
}

.footer-als:before {
  display: block;
  width: 225px;
  height: 1px;
  margin: 2em 0;
  background: #bfbfbf;
  content: '';
}

.footer-als-links {
  position: relative;
  padding-left: 100px;
}

.footer-als-links a:first-child:before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: top;
  width: 90px;
  height: 37px;
  background: url('/f/als.png') no-repeat center;
  content: '';
}

