@import "mixins.less";

.top {
  position: relative;
  height: 30px;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  background: url('/f/top.jpg') repeat-x bottom center;
}

.top:before {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .vgradient(rgb(147, 183, 37), rgb(76, 146, 31));
  z-index: -1;
  content: '';
}

.top_close {
  float: right;
  margin: 0 20px;
  color: rgba(255, 255, 255, .7);
  cursor: pointer;
}
