@import "mixins.less";

.catalog-title{
  margin: 40px 0 14px;
}

.catalog-categories{
  margin-top: -5px;
}

.catalog-categories-list {
  font-size: 24px;
  font-weight: bold;
}

.footer .catalog-categories-list {
  color: @COLOR_BLACK;
  font-size: 18px;
  font-weight: normal;
}

.catalog-categories-list > li {
  margin-right: .7em;
}

.catalog-category-title {
  font-weight: bold;
}

.catalog-filters {
  margin: 20px 0;
}

.catalog-filter {
  display: inline-block;
  vertical-align: top;
  font-style: italic;
}

.catalog-filter + .catalog-filter {
  margin-left: 2em;
}

.products {
  margin-bottom: 25px;
  text-align: left;
}

.catalog {

  .product {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-height: 300px;
    min-width: 150px;
    max-width: 180px;
    margin: 0 20px 20px 0;
    text-align: left;
  }

  .product-image {
    position: relative;
    height: 220px;
    .nonselectable();
  }

  .product-image-wrapper {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 140px;
  }

  .product-image-wrapper img {
    max-width: 140px;
    max-height: 200px;
  }

  .product-image:hover .product-count {
    display: block;
  }

  .product-count {
    position: absolute;
    display: none;
    width: 140px;
    height: 92px;
    left: 50%;
    top: 50%;
    margin: -46px 0 0 -46px;
    .nonselectable();
  }

  .product-description {
    margin-bottom: 11px;
    font-size: 13px;
    line-height: 1.4;
  }

  .product-prices {
    position: relative;
  }

  .product-price-old {
    position: absolute;
    top: -20px;
  }

  .product-price {
    position: relative;
    font-size: 18px;
    padding: 5px 0 0 15px;
    margin: -25px 0 8px 0;
    background: url('/f/price-sticker.png') no-repeat left;
    z-index: 1;
  }

  .products-paginator li {
    position: relative;
    margin: 0 20px 10px 0;
    font-style: italic;
  }

  .products-paginator li:last-child {
    margin-right: 0;
  }

  @SELECTOR_SIZE: 25px;
  .products-paginator li.selected:before {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: @SELECTOR_SIZE;
    height: @SELECTOR_SIZE;
    margin: -(@SELECTOR_SIZE/2) 0 0 -(@SELECTOR_SIZE/2);
    border: 1px solid @COLOR_GRAY_LIGHT;
    border-radius: 50%;
    content: '';
    z-index: 1;
  }

  .combo {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 448px;
    height: 290px;
    margin: 0 20px 40px 0;
    background: url('/f/combo.png') no-repeat right center;
  }

  .combo:hover .product-count {
    display: block;
  }

  .combo-text {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 260px;
    margin: 10px 5px 10px 20px;
    padding: 10px 10px 10px 30px;
    font-weight: bold;
    overflow: hidden;
  }

  .combo-title {
    width: 100px;
    font-size: 15px;
    line-height: 1;
    color: @COLOR_GREEN;
  }

  .combo-products {
    padding-bottom: 55px;
    font-size: 11px;
    font-weight: normal;
    color: @COLOR_GRAY;

    li{
      line-height: 15px;
      max-height: 30px;
      overflow: hidden;
    }
  }

  .combo-prices {
    position: absolute;
    left: 28px;
    bottom: 0;
    width: 100%;
    text-align: left;
  }

  .combo-price {
    margin-top: -3px;
  }

  .combo-images {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 250px;
    margin: 20px 0 10px 10px;
    padding: 15px 0;
    font-weight: bold;
    overflow: hidden;
  }

  .combo-image {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    text-align: center;
  }

  .combo-image img {
    max-width: 80px;
    max-height: 120px;
  }

  .product-control {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    height: 300px;
    width: 167px;
    margin: 0 20px 40px 0;
    text-align: left;
    background: url('/f/next-page.png') no-repeat center 30px;
  }

  .product-control a {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    padding-top: 235px;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
  .catalog .product-control {
    background-image: url('/f/next-page@2x.png');
    background-size: 167px 185px;
  }
}

.products-table {
  position: relative;
  width: 100%;

  th {
    padding-bottom: 20px;
  }

  .product-row {
    display: table-row;
    font-size: 14px;

    .product-col {
      display: table-cell;
      vertical-align: top;
      padding: 10px;
    }

    .product-col-quantity {
      width: 140px;
    }

    .product-col-img {
      vertical-align: middle;
      width: 60px;
      img {
        display: block;
        margin: auto;
        max-width: 60px;
        max-height: 80px;
      }
    }

    .product-col-name {
      width: 435px;
    }

    .product-col-suspended {
      width: 495px;
      color: @COLOR_GRAY_LIGHTER;
    }

    .product-col-amount {
      padding: 3px 5px;
      font-size: 13px;
      .border-radius(4px);
      color: @COLOR_GRAY;
      background: @COLOR_GRAY_LIGHTEST;
    }

    .product-col-size {
      width: 150px;
    }

    .product-col-quantity {
      width: 100px;
      text-align: center;
      white-space: nowrap;
      input {
        width: 30px;
        font-size: 14px;
      }
    }

    td.product-col-quantity {
      padding: 10px 0;
    }

    .product-col-price {
      width: 100px;
      text-align: right;
    }

    .product-col-price-one {
      font-family: 'ALS Schlange Sans';
      color: @COLOR_GREEN;
      font-size: 12px;
      .price {
        font-weight: normal;
      }
    }

    .product-col-controls {
      position: relative;
      width: 40px;
      font-size: 13px;
    }

    .product-col-controls-wrapper {
      position: relative;
    }

    &:hover .product-col-controls {
      opacity: 1;
    }
  }

  .product-suspended {
    .product-col-quantity,
    .product-col-price {
      opacity: 0;
    }

    .product-col-quantity .input-amount {
      visibility: hidden;
    }

    .combo-title,
    .product-col-img,
    .product-col-name {
      opacity: .5;
    }

    .product-col-controls .product-restore {
      position: absolute;
      z-index: 1;
      right: 0;
      top: 0;
      width: 200px;
      text-align: right;
    }
  }

  .combo-header-table,
  .combo-products-table,
  .combo-products-table-wrapper {
    position: relative;
    width: 100%;
  }

  .combo-products-table-wrapper {
    margin-bottom: 20px;
  }

  .combo-products-table-wrapper:before {
    position: absolute;
    top: -5px;
    left: 2%;
    width: 96%;
    height: 100%;
    border: 1px solid @COLOR_GREEN_COMBO;
    .border-radius(15px);
    content: '';
  }

  .combo-products-table-wrapper:after {
    position: absolute;
    top: -15px;
    left: 160px;
    width: 11px;
    height: 11px;
    background: url('/f/combo-frame-arrow.png') no-repeat center;
    content: '';
  }

  .combo-products-table td,
  .combo-products-table th {
    position: relative;
  }

  .combo-title {
    font-size: 15px;
    font-weight: bold;
    color: @COLOR_GREEN;
  }

  .combo-products-table .product-col-quantity span {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    padding: 3px 5px;
    font-size: 13px;
    .border-radius(4px);
    color: @COLOR_GRAY;
    background: @COLOR_GRAY_LIGHTEST;
  }

  .combo-products-table .product-col-price {
    color: @COLOR_GRAY_LIGHT;
  }

}

// red product counter

.product-counter {
  position: absolute;
  left: 100%;
  top: -25px;
  margin-left: -29px;
  width: 61px;
  height: 50px;
  line-height: 50px;
  padding-left: 6px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: url('/f/product-counter.png') no-repeat center;
  background-size: 100%;
  -webkit-transition: -webkit-transform .1s cubic-bezier(0, 1.3, 1, 1.38);
  -moz-transition: -moz-transform .1s cubic-bezier(0, 1.3, 1, 1.38);
  transition: transform .1s cubic-bezier(0, 1.3, 1, 1.38);
}

.product-counter-hidden {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform .1s ease-out;
  -moz-transition: -moz-transform .1s ease-out;
  transition: transform .1s ease-out;
}

.product-counter-pulse-plus {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.product-counter-pulse-minus {
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

// plus/minus buttons

.product-count-minus,
.product-count-plus {
  display: inline-block;
  vertical-align: top;
  height: 92px;
  cursor: pointer;
}

.product-count-minus {
  position: absolute;
  top: 0;
  right: 5px;
  width: 48px;
  background: url('/f/minus.png') no-repeat 0 0;
  -webkit-transition: -webkit-transform .2s cubic-bezier(0, 1.3, 1, 1.38);
  -moz-transition: -moz-transform .2s cubic-bezier(0, 1.3, 1, 1.38);
  transition: transform .2s cubic-bezier(0, 1.3, 1, 1.3);
}

.product-count-minus.product-count-minus-hidden {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform .3s ease-in;
  -moz-transition: -moz-transform .3s ease-in;
  transition: transform .3s ease-in;
}

.product-count-minus:active,
.product-count-plus:active {
  -webkit-transition: -webkit-transform .05s ease-in;
  -moz-transition: -webkit-transform .05s ease-in;
  transition: transform .05s ease-in;
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.product-count-minus:after,
.product-count-plus:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .05s ease-out;
  -moz-transition: opacity .05s ease-out;
  transition: opacity .05s ease-out;
  content: '';
}

.product-count-minus:after {
  background: url('/f/minus.png') no-repeat 0 -92px;
}

.product-count-plus:after {
  background: url('/f/plus.png') no-repeat 0 -92px;
}

.product-count-minus:active:after,
.product-count-plus:active:after {
  opacity: 1;
}

.product-count-plus {
  position: absolute;
  top: 0;
  left: -3px;
  width: 92px;
  background: url('/f/plus.png') no-repeat 0 0;
}

/* stickers */

.price-sticker {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 88px;
  height: 36px;
  font-size: 18px;
  padding: 5px 0 0 15px;
  background: url('/f/price-sticker.png') no-repeat left;
  z-index: 1;
}

.price-sticker-old {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 75px;
  height: 34px;
  font-size: 14px;
  padding: 5px 0 0 15px;
  background: url('/f/price-sticker-old.png') no-repeat left;
  z-index: 1;
}

.price-sticker-old:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('/f/strike.png') no-repeat center;
  content: '';
}

