/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.catalog-title {
  margin: 40px 0 14px;
}
.catalog-categories {
  margin-top: -5px;
}
.catalog-categories-list {
  font-size: 24px;
  font-weight: bold;
}
.footer .catalog-categories-list {
  color: #000000;
  font-size: 18px;
  font-weight: normal;
}
.catalog-categories-list > li {
  margin-right: .7em;
}
.catalog-category-title {
  font-weight: bold;
}
.catalog-filters {
  margin: 20px 0;
}
.catalog-filter {
  display: inline-block;
  vertical-align: top;
  font-style: italic;
}
.catalog-filter + .catalog-filter {
  margin-left: 2em;
}
.products {
  margin-bottom: 25px;
  text-align: left;
}
.catalog .product {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-height: 300px;
  min-width: 150px;
  max-width: 180px;
  margin: 0 20px 20px 0;
  text-align: left;
}
.catalog .product-image {
  position: relative;
  height: 220px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.catalog .product-image-wrapper {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 140px;
}
.catalog .product-image-wrapper img {
  max-width: 140px;
  max-height: 200px;
}
.catalog .product-image:hover .product-count {
  display: block;
}
.catalog .product-count {
  position: absolute;
  display: none;
  width: 140px;
  height: 92px;
  left: 50%;
  top: 50%;
  margin: -46px 0 0 -46px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.catalog .product-description {
  margin-bottom: 11px;
  font-size: 13px;
  line-height: 1.4;
}
.catalog .product-prices {
  position: relative;
}
.catalog .product-price-old {
  position: absolute;
  top: -20px;
}
.catalog .product-price {
  position: relative;
  font-size: 18px;
  padding: 5px 0 0 15px;
  margin: -25px 0 8px 0;
  background: url('/f/price-sticker.png') no-repeat left;
  z-index: 1;
}
.catalog .products-paginator li {
  position: relative;
  margin: 0 20px 10px 0;
  font-style: italic;
}
.catalog .products-paginator li:last-child {
  margin-right: 0;
}
.catalog .products-paginator li.selected:before {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  margin: -12.5px 0 0 -12.5px;
  border: 1px solid #7b7b7b;
  border-radius: 50%;
  content: '';
  z-index: 1;
}
.catalog .combo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 448px;
  height: 290px;
  margin: 0 20px 40px 0;
  background: url('/f/combo.png') no-repeat right center;
}
.catalog .combo:hover .product-count {
  display: block;
}
.catalog .combo-text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 190px;
  height: 260px;
  margin: 10px 5px 10px 20px;
  padding: 10px 10px 10px 30px;
  font-weight: bold;
  overflow: hidden;
}
.catalog .combo-title {
  width: 100px;
  font-size: 15px;
  line-height: 1;
  color: #308011;
}
.catalog .combo-products {
  padding-bottom: 55px;
  font-size: 11px;
  font-weight: normal;
  color: #656565;
}
.catalog .combo-products li {
  line-height: 15px;
  max-height: 30px;
  overflow: hidden;
}
.catalog .combo-prices {
  position: absolute;
  left: 28px;
  bottom: 0;
  width: 100%;
  text-align: left;
}
.catalog .combo-price {
  margin-top: -3px;
}
.catalog .combo-images {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 180px;
  height: 250px;
  margin: 20px 0 10px 10px;
  padding: 15px 0;
  font-weight: bold;
  overflow: hidden;
}
.catalog .combo-image {
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  text-align: center;
}
.catalog .combo-image img {
  max-width: 80px;
  max-height: 120px;
}
.catalog .product-control {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  height: 300px;
  width: 167px;
  margin: 0 20px 40px 0;
  text-align: left;
  background: url('/f/next-page.png') no-repeat center 30px;
}
.catalog .product-control a {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  padding-top: 235px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .catalog .product-control {
    background-image: url('/f/next-page@2x.png');
    background-size: 167px 185px;
  }
}
.products-table {
  position: relative;
  width: 100%;
}
.products-table th {
  padding-bottom: 20px;
}
.products-table .product-row {
  display: table-row;
  font-size: 14px;
}
.products-table .product-row .product-col {
  display: table-cell;
  vertical-align: top;
  padding: 10px;
}
.products-table .product-row .product-col-quantity {
  width: 140px;
}
.products-table .product-row .product-col-img {
  vertical-align: middle;
  width: 60px;
}
.products-table .product-row .product-col-img img {
  display: block;
  margin: auto;
  max-width: 60px;
  max-height: 80px;
}
.products-table .product-row .product-col-name {
  width: 435px;
}
.products-table .product-row .product-col-suspended {
  width: 495px;
  color: #b0b0b0;
}
.products-table .product-row .product-col-amount {
  padding: 3px 5px;
  font-size: 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #656565;
  background: #f2f4f1;
}
.products-table .product-row .product-col-size {
  width: 150px;
}
.products-table .product-row .product-col-quantity {
  width: 100px;
  text-align: center;
  white-space: nowrap;
}
.products-table .product-row .product-col-quantity input {
  width: 30px;
  font-size: 14px;
}
.products-table .product-row td.product-col-quantity {
  padding: 10px 0;
}
.products-table .product-row .product-col-price {
  width: 100px;
  text-align: right;
}
.products-table .product-row .product-col-price-one {
  font-family: 'ALS Schlange Sans';
  color: #308011;
  font-size: 12px;
}
.products-table .product-row .product-col-price-one .price {
  font-weight: normal;
}
.products-table .product-row .product-col-controls {
  position: relative;
  width: 40px;
  font-size: 13px;
}
.products-table .product-row .product-col-controls-wrapper {
  position: relative;
}
.products-table .product-row:hover .product-col-controls {
  opacity: 1;
}
.products-table .product-suspended .product-col-quantity,
.products-table .product-suspended .product-col-price {
  opacity: 0;
}
.products-table .product-suspended .product-col-quantity .input-amount {
  visibility: hidden;
}
.products-table .product-suspended .combo-title,
.products-table .product-suspended .product-col-img,
.products-table .product-suspended .product-col-name {
  opacity: .5;
}
.products-table .product-suspended .product-col-controls .product-restore {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 200px;
  text-align: right;
}
.products-table .combo-header-table,
.products-table .combo-products-table,
.products-table .combo-products-table-wrapper {
  position: relative;
  width: 100%;
}
.products-table .combo-products-table-wrapper {
  margin-bottom: 20px;
}
.products-table .combo-products-table-wrapper:before {
  position: absolute;
  top: -5px;
  left: 2%;
  width: 96%;
  height: 100%;
  border: 1px solid #cee2c3;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  content: '';
}
.products-table .combo-products-table-wrapper:after {
  position: absolute;
  top: -15px;
  left: 160px;
  width: 11px;
  height: 11px;
  background: url('/f/combo-frame-arrow.png') no-repeat center;
  content: '';
}
.products-table .combo-products-table td,
.products-table .combo-products-table th {
  position: relative;
}
.products-table .combo-title {
  font-size: 15px;
  font-weight: bold;
  color: #308011;
}
.products-table .combo-products-table .product-col-quantity span {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  padding: 3px 5px;
  font-size: 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #656565;
  background: #f2f4f1;
}
.products-table .combo-products-table .product-col-price {
  color: #7b7b7b;
}
.product-counter {
  position: absolute;
  left: 100%;
  top: -25px;
  margin-left: -29px;
  width: 61px;
  height: 50px;
  line-height: 50px;
  padding-left: 6px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: url('/f/product-counter.png') no-repeat center;
  background-size: 100%;
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0, 1.3, 1, 1.38);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0, 1.3, 1, 1.38);
  transition: transform 0.1s cubic-bezier(0, 1.3, 1, 1.38);
}
.product-counter-hidden {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  -moz-transition: -moz-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
}
.product-counter-pulse-plus {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.product-counter-pulse-minus {
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
.product-count-minus,
.product-count-plus {
  display: inline-block;
  vertical-align: top;
  height: 92px;
  cursor: pointer;
}
.product-count-minus {
  position: absolute;
  top: 0;
  right: 5px;
  width: 48px;
  background: url('/f/minus.png') no-repeat 0 0;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0, 1.3, 1, 1.38);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0, 1.3, 1, 1.38);
  transition: transform 0.2s cubic-bezier(0, 1.3, 1, 1.3);
}
.product-count-minus.product-count-minus-hidden {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
.product-count-minus:active,
.product-count-plus:active {
  -webkit-transition: -webkit-transform 0.05s ease-in;
  -moz-transition: -webkit-transform 0.05s ease-in;
  transition: transform 0.05s ease-in;
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.product-count-minus:after,
.product-count-plus:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.05s ease-out;
  -moz-transition: opacity 0.05s ease-out;
  transition: opacity 0.05s ease-out;
  content: '';
}
.product-count-minus:after {
  background: url('/f/minus.png') no-repeat 0 -92px;
}
.product-count-plus:after {
  background: url('/f/plus.png') no-repeat 0 -92px;
}
.product-count-minus:active:after,
.product-count-plus:active:after {
  opacity: 1;
}
.product-count-plus {
  position: absolute;
  top: 0;
  left: -3px;
  width: 92px;
  background: url('/f/plus.png') no-repeat 0 0;
}
/* stickers */
.price-sticker {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 88px;
  height: 36px;
  font-size: 18px;
  padding: 5px 0 0 15px;
  background: url('/f/price-sticker.png') no-repeat left;
  z-index: 1;
}
.price-sticker-old {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 75px;
  height: 34px;
  font-size: 14px;
  padding: 5px 0 0 15px;
  background: url('/f/price-sticker-old.png') no-repeat left;
  z-index: 1;
}
.price-sticker-old:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('/f/strike.png') no-repeat center;
  content: '';
}