@font-face {
  font-family: 'ALS Schlange Sans';
  src: url('fonts/als_schlange_sans_bold.eot');
  src: url('fonts/als_schlange_sans_bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/als_schlange_sans_bold.svg#als_schlange_sansbold') format('svg'),
  url('fonts/als_schlange_sans_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Schlange Sans';
  src: url('fonts/als_schlange_sans_regular.eot');
  src: url('fonts/als_schlange_sans_regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/als_schlange_sans_regular.svg#als_schlange_sansregular') format('svg'),
  url('fonts/als_schlange_sans_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Schlange Sans Rouble';
  src: url('fonts/als_schlange_sans_bold_rouble.eot');
  src: url('fonts/als_schlange_sans_bold_rouble.eot?#iefix') format('embedded-opentype'),
  url('fonts/als_schlange_sans_bold_rouble.svg#als_schlange_sans_roublebold') format('svg'),
  url('fonts/als_schlange_sans_bold_rouble.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Schlange Sans Rouble';
  src: url('fonts/als_schlange_sans_regular_rouble.eot');
  src: url('fonts/als_schlange_sans_regular_rouble.eot?#iefix') format('embedded-opentype'),
  url('fonts/als_schlange_sans_regular_rouble.svg#als_schlange_sans_roubleregular') format('svg'),
  url('fonts/als_schlange_sans_regular_rouble.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Password';
  src: url('fonts/password.eot');
  src: url('fonts/password.eot?#iefix') format('embedded-opentype'),
  url('fonts/password.svg#password') format('svg'),
  url('fonts/password.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}