@import "mixins.less";

.footer {
  position: relative;
  color: @COLOR_GRAY;
}

.footer-block {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.footer-block + .footer-block {
  margin-left: 3%;
}

.footer-pre {
  margin-bottom: 20px;
  overflow: hidden;
}

.footer-pre-text {
  padding: 20px 50px 0 0;
  overflow: hidden;
}

.footer-main {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #bfbfbf;
}

.footer-side {
  position: relative;
  float: right;
  width: 240px;
  padding: 115px 0 0 0;
  margin-left: 50px;
  font-size: 12px;
  border-top: 1px solid #bfbfbf;
}

.footer-side:before {
  display: block;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  width: 398px;
  height: 158px;
  background: url('/f/footer-abv.png') no-repeat center;
  content: '';
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
  .footer-side:before {
    background-image: url('/f/footer-abv@2x.png');
    background-size: 398px 158px;
  }
}


.footer-side-promo {
  position: relative;
  float: right;
  width: 240px;
  height: 100%;
  font-size: 1rem;
}

.footer-side-promo-balloon {
  position: relative;
  display: block;
  padding: 20px;
  margin-bottom: 12px;
  font-family: 'ALS Schlange Sans';
  font-weight: bold;
  text-align: center;
  border-radius: 16px;
  background: #f3f6df;
}

.footer-side-promo-balloon:before {
  display: block;
  position: absolute;
  left: 50%;
  bottom: -12px;
  width: 13px;
  height: 12px;
  margin-left: -7px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFhJREFUeNpi/PX70/+fv98yEAvYWAUZmBhIACANbCz8jEykagCxmUjVQJQmdA0ENWHTgFcTLg04NeHTgFUTIQ0gwAKhGKEaBAhqQLGJWA1wTaRoAAGAAAMAvbUJTRK+ezcAAAAASUVORK5CYII=') no-repeat center;
  content: '';
}

.footer-side-promo-text {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.footer-side {
  font-style: italic;
}