@import "mixins.less";

.header-logo {
  display: inline-block;
  vertical-align: bottom;
  width: 160px;
  height: 56px;
  margin-right: 50px;
}

.header-logo a {
  display: inline-block;
  vertical-align: bottom;
}

.header-search {
  display: inline-block;
  vertical-align: top;
  height: 56px;
  white-space: nowrap;
}

.header-search .input{
  display: inline-block;
  width: 285px;
  height: 34px;
  margin-right: 10px;
  border: 2px solid #629d1a;
  .border-radius(20px);
  .box-shadow-inset(0, 3px, 5px, 0, #d7e5f0);

  input,
  .placeholder{
    font-size: 14px;
    padding: 0 10px;
    line-height: 30px;
    vertical-align: middle;
  }

  &.focus {
    .box-shadow(0, 0, 10px, 0, @COLOR_GREEN_LIGHT);
  }
}

.header-search input[type=submit] {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border: none;
  background: url('/f/search.png') no-repeat 0 0;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
  .header-search input[type=submit] {
    background-image: url('/f/search@2x.png');
    background-size: 48px 24px;
  }
}


.header-search.header-search-fade .input {
  border: 2px solid @COLOR_GRAY_LIGHTER;
}

.header-search.header-search-fade input[type=submit] {
  background-position: -24px 0;
}


.header-search-prompt {
  padding: 2px 10px;
  font-style: italic;
}

.breadcrumbs {
  margin: 40px 0 14px;
  font-weight: bold;
}

.breadcrumbs-item + .breadcrumbs-item:before,
.breadcrumbs-item-active:after {
  content: '\00a0/\00a0';
}