@import "lib/painter.less";
@import "links.less";
@import "mixins.less";


* {
  .box-sizing(border-box);
}

body {
  min-width: 1000px;
  font-family: Arial, Tahoma, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: #fff;
}

/* headers */

h1,
h2,
h3,
h4 {
  font-family: "ALS Schlange Sans", Arial, Tahoma, Helvetica, sans-serif;
  line-height: 1;
}

h1 + h2,
h1 + h3,
h1 + h4,
h2 + h3,
h2 + h4,
h3 + h4,
h1 + p,
h2 + p,
h3 + p,
h4 + p {
  margin-top: -.5em;
}

h1 {
  font-size: 40px;
  margin: .67em 0 .5em;
}

h2 {
  font-size: 34px;
  margin: .67em 0 .5em;
}

h3 {
  font-size: 25px;
  margin: .67em 0;
}

h4 {
  font-size: 18px;
  margin: .67em 0;
}

h5 {
  font-size: 15px;
  margin: .67em 0 .3em;
  line-height: 1.2;

  & + p{
    margin-top: .3em;
  }
}

.breadcrumbs + .content > h1:first-child{
  margin-top: 0;
}

sup,
sub {
  font-size: 0.75em;
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
}

sub {
  top: 0.1em;
}

.larger {
  font-size: 150%;
}

.strong {
  font-weight: bold;
}

.highlight {
  background: #e2ee9a;
}

/* lists */

h1 + ul,
h2 + ul,
h3 + ul,
h4 + ul,
h1 + ol,
h2 + ol,
h3 + ol,
h4 + ol {
  margin-top: -1em;
}

p + ul,
p + ol {
  margin-top: -.5em;
}

li {
  margin-bottom: .5em;
}

ol {
  margin-left: -40px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul.list > li {
  position: relative;
  padding-left: 1.5em;
  margin-left: -1.5em;
}

ul.list > li:before {
  position: absolute;
  left: 0;
  width: 1em;
  font-weight: bold;
  color: @COLOR_GREEN;
  content: '\2014\a0';
}

li > ul,
li > ol {
  margin-top: .5em;
  margin-left: 1em;
}

.list-plain {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-plain > li {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
}

/* inputs */

textarea {
  resize: vertical;

  &[disabled]{
    background-color: white;
  }
}

/* buttons */
button{
  outline: none !important;
}


.button(@color1, @color2, @color3, @colorText:@COLOR_WHITE) {
  position: relative;
  padding: 0 11px;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  font-family: 'ALS Schlange Sans';
  font-weight: bold;
  font-size: 14px;
  border: none;
  color: @colorText;
  .vgradient(@color2, @color3);
  .border-radius(10px);
  outline: none;

  &:hover {
    .vgradient(@color1, @color3);
  }

  &:active {
    padding-top: 1px;
    .vgradient(@color3, @color2);
  }

  &[disabled] {
    &,
    &:hover,
    &:active {
      padding-top: 0;
      background: @COLOR_GRAY_LIGHTER;
    }

    &.preloader {
      color: transparent;
      padding-top: 0;
      .vgradient(@color2, @color3);

      .ie8 &{
        line-height: 1000px !important;
      }

      &:before {
        content: "";
        background: url("/f/button-preloader.gif");
        display: block;
        width: 14px;
        height: 14px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -7px;
        margin-top: -7px;
      }
    }
  }
}

.button-green {
  .button(@COLOR_GREEN_LIGHTER, @COLOR_GREEN_LIGHT, @COLOR_GREEN);
}

.button-red {
  .button(@COLOR_RED_LIGHTER, @COLOR_RED_LIGHT, @COLOR_RED);
}

.button-blue {
  .button(@COLOR_BLUE_LIGHTEST, @COLOR_BLUE_LIGHTER, @COLOR_BLUE);
}

.button-gray {
  .button(@COLOR_WHITE, rgb(242, 244, 241), rgb(202, 202, 202));
  color: @COLOR_BLACK;
}

.button-simple {
  height: 30px;
  padding: 0 8px;
  line-height: 29px;
  font-size: 13px;
  color: @COLOR_BLUE;
  cursor: pointer;
  border: 1px solid @COLOR_BLUE;
  border-radius: 7px;
  background: transparent;
  .nonselectable;


  &:hover{
    color: @COLOR_RED;
    border-color: @COLOR_RED;
  }

  &:active{
    padding-top: 1px;
  }
}

/* special */

.popup {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.popups {
  display: none;
  position: absolute;
  z-index: 102;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.popups-fader {
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: fade(@COLOR_BLACK, 85%);
}

.popup-window {
  margin: 100px auto;
  padding-bottom: 40px;
}

.hr {
  .hr();
}

.comment {
  .secondary();
}

.important {
  .important();
  font-family: 'ALS Schlange Sans', Arial, Tahoma, Verdana, sans-serif;
  font-weight: 900;
  font-size: 120%;
  margin-left: 1em;
}

blockquote {
  margin: 0;
}

blockquote .quote {
  font-size: 150%;
  line-height: 1;
}

blockquote .quote:before,
blockquote .quote:after {
  position: relative;
  top: .1em;
  font-family: 'ALS Schlange Sans', Arial, Tahoma, Verdana, sans-serif;
  font-size: 200%;
  font-weight: normal;
  color: @COLOR_GREEN;
}

blockquote .quote:before {
  content: '« ';
}

blockquote .quote:after {
  content: ' »';
}

blockquote .comment {
  margin-top: -1em;
  margin-left: 2.5em;
}

.foldable-block {
  overflow: hidden; /* fix for IE8 margin bug */
}

.fold {
  .nonselectable();
}

.foldable {
  display: none;
}

.foldable:before,
.foldable:after {
  display: block;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden;
  content: '.';
}

.footnote {
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
  padding: 0 .3em;
  border-radius: .4em;
  font-size: 0.75em;
  color: #fff;
  .vgradient(rgb(196, 206, 55), rgb(48, 128, 17));
  cursor: pointer;
}

.footnote_popup {
  margin-left: -100%;
  min-width: 200px;
  max-width: 300px;
  padding: 1em;
  .vgradient(rgb(247, 255, 212), rgb(255, 255, 255));
  .border-radius(4px);
  .box-shadow(0, .5em, 15px, 0, rgba(0, 0, 0, .5));
}

/* personal submenu */

.submenu {
  .submenu-item {
    box-shadow: 0 2px 7px rgba(0, 0, 0, .14);
    display: inline-block;
    white-space: nowrap;
    color: @COLOR_BLUE;
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    border-top: 1px solid rgb(242, 242, 242);
    border-right: 1px solid rgb(223, 223, 223);
    border-bottom: 1px solid rgb(196, 196, 196);
    cursor: pointer;
    .vgradient(#fefefe, #fbfaf9);
    .nonselectable;

    .walletSize{
      display: inline-block;
      margin-bottom: -5px;
    }

    .ie8 &:first-child{
      border-left: 1px solid rgb(242, 242, 242);
    }
  }

  .submenu-item:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .submenu-item:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right: none;
  }

  .submenu-item.selected {
    padding: 9px 15px;
    color: rgb(255, 255, 255);
    cursor: default;
    box-shadow: inset 0 8px 8px rgba(0, 0, 0, .3);

    &, &:hover {
      background: rgb(110, 110, 119);
    }
  }

  .submenu-item:hover {
    background: #e6f6ff;
  }
}

.itemset-item {
  white-space: nowrap;
  color: @COLOR_BLUE;
  .dotted(@color: fade(@COLOR_BLUE, @A_UNDERLINE_OPACITY));
  .nonselectable();
  cursor: pointer;
}

.itemset-item.selected {
  color: rgb(0, 0, 0);
  background: none;
  cursor: default;
}

.itemset-item.selected.with-icon-right {
  cursor: pointer;
}

.itemset-item.disabled{
  font-style: italic;
  color: @COLOR_GRAY_LIGHTER;
  background: none;
  cursor: default;
}

/* itemset-simple */

.itemset-simple .itemset-item,
.itemset-blue .itemset-item,
.itemset-green .itemset-item {
  margin: 5px 10px;
}

.itemset-simple .itemset-item.selected {
  padding: 5px 10px;
  margin: -5px 0px;
  font-weight: bold;
  .border-radius(12px);
  background: rgb(207, 227, 241);
}

/* itemset-blue */

.itemset-blue {
  line-height: 2;
}

.itemset-blue .itemset-item.selected {
  padding: 5px 10px;
  margin: -5px 0px;
  color: @COLOR_WHITE;
  text-shadow: 0px 2px rgba(0, 0, 0, .1);
  .border-radius(8px);
  .vgradient(@COLOR_BLUE, @COLOR_BLUE_LIGHT);
  .box-shadow-inset(0, 3px, 5px, 0, rgba(0, 0, 0, .3));
}

.itemset-blue .itemset-item:not(.selected):not(.disabled):hover span,
.itemset-green .itemset-item:not(.selected):not(.disabled):hover span{
  color: @COLOR_RED;
  .dotted(@color: fade(@COLOR_RED, @A_UNDERLINE_OPACITY));
}

/* itemset-green */

.itemset-green .itemset-item.selected {
  padding: 5px 10px;
  margin: -5px 0px;
  color: @COLOR_BLACK;
  .border-radius(8px);
  background-color: #e0edac;
  .box-shadow-inset(0, 3px, 5px, 0, rgba(0, 0, 0, .3));
}

/* itemset-img */

.itemset-img .itemset-item {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  height: 140px;
  padding: 10px 15px;
  margin: 0 20px 20px 0;
  text-align: center;
  background: @COLOR_GRAY_LIGHTEST;
  border-top: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(223, 223, 223);
  border-bottom: 1px solid rgb(196, 196, 196);
  border-left: 1px solid rgb(255, 255, 255);
  .border-radius(8px);
  .nonselectable();
  cursor: pointer;
}

.itemset-img .itemset-item span {
  color: @COLOR_BLUE;
  .dotted(@color: fade(@COLOR_BLUE, @A_UNDERLINE_OPACITY));
}

.itemset-img .itemset-item:hover {
  .box-shadow(0, 0, 8px, 0, fade(@COLOR_BLUE, 50%));
}

.itemset-img .itemset-item:hover span {
  color: @COLOR_RED;
  .dotted(@color: fade(@COLOR_RED, @A_UNDERLINE_OPACITY));
}

.itemset-img .itemset-item.selected {
  color: @COLOR_WHITE;
  .vgradient(@COLOR_BLUE, @COLOR_BLUE_LIGHT);
  .box-shadow-inset(0, 3px, 5px, 0, rgba(0, 0, 0, .5));
  cursor: default;
}

.itemset-img .itemset-item.selected span {
  color: @COLOR_WHITE;
  text-shadow: 0px 2px rgba(0, 0, 0, .1);
  background: none;
}

/* itemset-gray */

.itemset-gray .itemset-item {
  margin: 5px 10px;
  background: none;
  .border-radius(8px);
}

.itemset-gray .itemset-item span {
  color: @COLOR_BLUE;
  .dotted(@color: fade(@COLOR_BLUE, @A_UNDERLINE_OPACITY));
}

.itemset-gray .itemset-item ins {
  margin-left: 3px;
  color: @COLOR_GRAY;
  font-size: 13px;
  font-style: normal;
  text-decoration: none;
}

.itemset-gray .itemset-item:hover span {
  .dotted(@color: fade(@COLOR_RED, @A_UNDERLINE_OPACITY));
}

.itemset-gray .itemset-item:hover span {
  color: @COLOR_RED;
  .dotted(@color: fade(@COLOR_RED, @A_UNDERLINE_OPACITY));
}

.itemset-gray .itemset-item.selected {
  padding: 5px 10px;
  margin: -5px 0px;
  color: @COLOR_WHITE;
  text-shadow: 0px 2px rgba(0, 0, 0, .1);
  .border-radius(8px);
  .vgradient(@COLOR_BLUE, @COLOR_BLUE_LIGHT);
  .box-shadow-inset(0, 3px, 5px, 0, rgba(0, 0, 0, .5));
  cursor: default;
}

.itemset-gray .itemset-item.selected span {
  color: @COLOR_WHITE;
  background: none;
}

.itemset-gray .itemset-item.selected ins {
  color: @COLOR_GRAY_LIGHTEST;
}

/* tabs */

.tabs {
}

.tab-header {
  display: inline-block;
  vertical-align: bottom;
  padding: 5px 25px;
  font-family: "ALS Schlange Sans";
  font-weight: bold;
  font-size: 25px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: @COLOR_WHITE;
  cursor: pointer;
  .nonselectable();
}

.tab-header.selected {
  background-color: @COLOR_GRAY_LIGHTEST;
  cursor: default;
  position: relative;

  &:before,
  &:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 24px;
    height: 41px;
  }

  &:before{
    left: -17px;
    background-image: url("/f/tab-shadow-left.png");
  }

  &:after{
    right: -17px;
    background-image: url("/f/tab-shadow-right.png");
  }
}

.tab-header-comment {
  font-family: "Arial";
  font-size: 12px;
  font-weight: normal;
}

.tabs-contents {
  padding-bottom: 7px;
  color: @COLOR_BLACK;
  background: @COLOR_GRAY_LIGHTEST url('/f/tabs-bottom.png') repeat-x bottom;
}

.tab-content {
  padding: 25px;
}

/* forms */

textarea{
  width: 100%;
  border-radius: 4px;
  border: 1px solid @COLOR_GRAY_LIGHTER;
  border-top-color: @COLOR_GRAY_LIGHT;
  padding: 4px;
  font-size: 13px;

  &:focus {
    outline: none;
    border-color: @COLOR_GREEN;
    .box-shadow(0, 0, 10px, 0, @COLOR_GREEN_LIGHT);
  }
}

::-ms-clear {
  display: none;
}

.form-row {
  padding: 10px 0;
}

.form-row.form-row-padding {
  padding-bottom: 21px;
}

.form-line {
  margin-bottom: 20px;
}

.form-subline {
  margin-bottom: 10px;
}

.form-subline-block {
  text-align: left;
}

.form-block {
  display: inline-block;
  vertical-align: top;
  width: 50px;
}

.form-block + .form-block {
  margin-left: 20px;
}

.form-label {
  display: inline-block;
  vertical-align: top;
  width: 27%;
  padding-top: 4px;
}

.form label {
  font-size: 14px;
}

.form-block label {
  font-size: 13px;
}

.form-comment {
  display: inline-block;
  max-width: 20%;
  padding-left: 10px;
  .secondary();
  font-size: 14px;
  line-height: 1.3;
}

.form-control {
  display: inline-block;
  vertical-align: top;
  width: 73%;
  padding-left: 20px;
}

.form-control.form-control-normal {
  max-width: 420px;
}

.form-control.form-control-small {
  max-width: 220px;
}

.form-comment + .form-control {
  width: 60%;
  padding-right: 40px;
}

.form-footer {
  padding-top: 26px;
  font-size: 22px;
  background: url('/f/form-footer.png') no-repeat top center;
}

label { display: block;
  line-height: 20px;
  font-size: 13px;
}

.chzn-container-single .chzn-single {
  height: 27px;
  line-height: 27px;
  font-size: 13px;
  border: 1px solid rgb(176, 176, 176);
  border-top-color: rgb(123, 123, 123);
  .border-radius(4px);
  background: @COLOR_WHITE;
}

.chzn-container-active .chzn-single {
  .box-shadow(0, 0, 10px, 0, @COLOR_GREEN_LIGHT);
}

.chzn-container-active.chzn-with-drop .chzn-single {
  background: @COLOR_WHITE;
  .box-shadow(0, 0, 10px, 0, @COLOR_GREEN_LIGHT);
}


.input {
  /* new input! */
  width: 100%;
  height: 27px;
  position: relative;
  border-radius: 4px;
  border: 1px solid @COLOR_GRAY_LIGHTER;
  border-top-color: @COLOR_GRAY_LIGHT;
  background: #ffffff;

  &.text-align-center {
    input,
    .placeholder {
      text-align: center;
    }
  }
  &.text-align-right {
    input,
    .placeholder {
      text-align: right;
    }
  }

  &.focus {
    border-color: @COLOR_GREEN;
    .box-shadow(0, 0, 10px, 0, @COLOR_GREEN_LIGHT);
  }

  input {
    border: none;
    outline: none;
    position: relative;
    box-shadow: none !important;
    background: url("/f/1x1.gif"); // fix ie8 bug
  }

  input,
  .placeholder {
    padding: 0 6px;
    line-height: 27px;
    font-size: 13px;
    width: 100%;
    height: 100%;
  }

  .placeholder {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: @COLOR_GRAY_LIGHTER;
  }

  &.password input {
    font-family: 'Password';
    font-weight: normal;
    font-style: normal;

    .ie8 &{ // ie8 через раз показывает кастомные шрифты, размываем пароль
      filter: progid:DXImageTransform.Microsoft.blur(pixelradius=3, enabled='true');
      position: relative;
      top: -2px;
    }
  }
}

.input-amount{
  display: inline-block;
  height: 31px;
  line-height: 0;
  .nonselectable;

  &:hover,
  &.focus{
    .input-amount-minus,
    .input-amount-plus{
      visibility: visible;
    }
  }

  .input{
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 24px;
    margin: 3px 3px 0;

    input{
      line-height: 24px;
      padding: 0;
    }

    &.focus {
      border-color: @COLOR_BLUE;
      box-shadow: none !important;
    }
  }

  .input-amount-plus,
  .input-amount-minus{
    display: inline-block;
    visibility: hidden;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    background-image: url("/f/amount-controls.png");

    &:hover{
      border-color: @COLOR_GRAY;
    }
  }

  .input-amount-minus{
    background-position: 0 0;
  }

  .input-amount-plus{
    background-position: -29px 0;
  }
}

/* text-hint */
.text-hint{
  font-family: 'Arial';
  font-size: 12px;
  font-style: italic;
  color: @COLOR_GRAY_LIGHT;

  &.afterInput{
    display: table-cell;
    vertical-align: middle;
    height: 27px;
    line-height: 13px;
    padding-left: 12px;
  }
}

.input.hasHint{
  float: left;
}

.input.phone,
.input.email {
  width: 130px;
}

/* images */

.image {
  display: inline-block;
  vertical-align: top;
}

.image img {
  border: 1px solid #ccc;
  border-radius: 12px;
}

.image .comment {
  text-align: center;
}

/* prices */

.price {
  font-family: 'ALS Schlange Sans';
  font-weight: bold;
  white-space: nowrap;
}

.price-amount-hi {
}

.price-amount-lo {
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
  margin-left: .2em;
  font-size: 0.65em;
}

.rub {
  font-family: 'ALS Schlange Sans Rouble';
}

/* switcher */
.switcher {
  display: inline-block;
  visibility: hidden;
  position: relative;
  width: 0;
  height: 24px;
  background: url("/f/switcher-bg.png") left center repeat-x;
  text-align: left;
  .nonselectable;

  .sizer{
    position: absolute;
  }

  .helper{
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    width: 24px;
    height: 23px;
    z-index: 2;
    margin-left: -11px;

    .icon{
      position: absolute;
      z-index: 1;
    }

    .inner{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 2;



      &:hover ~ .icon{
        background-image: url("/f/switcher-helper-hover.png");
        width: 31px;
        height: 36px;
        left: -3px;
        top: -5px;
      }

      &:active ~ .icon{
        background-image: url("/f/switcher-helper-active.png");
        width: 15px;
        height: 20px;
        left: 5px;
        top: 1px;
      }
    }
  }

  .handle {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    max-width: 60px;
    min-width: 18px;
    padding: 2px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-family: 'Arial';
    font-size: 12px;
    z-index: 3;
    cursor: default;
    .nonselectable;

    .ie8 &{
      cursor: pointer;
      filter: none !important;
    }

    &:before {
      content: "";
      position: absolute;

      padding: 2px;
      left: -2px;

      top: -1px;
      width: 100%;
      height: 18px;
      border: 1px solid rgba(0, 114, 188, .26);
      border-radius: 4px;
      background: #ffffff;
      z-index: -1;
      box-shadow: 0 3px 9px rgba(0, 114, 188, .18);

      .ie8 &{
        border: 1px solid @COLOR_BLUE_LIGHT;
        filter: none !important;
      }

      .transition(all ease 0.12s);
      .box-sizing(content-box);
    }
  }

  &:not(.singleItem) .handle{
    &,
    &:before{
      cursor: url("/f/openhand.cur"), pointer;
    }

    &.ui-draggable-dragging,
    &.ui-draggable-dragging:before,
    &.active,
    &.active:before{
      cursor: url("/f/closedhand.cur"), pointer;
    }

    &:hover:before,
    &.ui-draggable-dragging:before {
      border: 1px solid rgba(0, 114, 188, .6);
      height: 22px;
      margin-top: -2px;
      box-shadow: 0 3px 9px rgba(0, 114, 188, .36);
    }
  }

  &.singleItem{
    .handle,
    .handle.ui-state-disabled {
      opacity: 1;
      color: @COLOR_GRAY;

      &:before{
        background: @COLOR_GRAY_LIGHTEST;
        border-color: @COLOR_GRAY_LIGHTEST;
        .box-shadow-none;
      }
    }

  }
}

/*.iphone, .ipad, .ipod, .android{
  .switcher .handle.ui-draggable-dragging{
    top: -40px;
  }
}*/


/* switcher simple */
.switcher_simple {
  @HANDLE_SHADOW_1: 0 0 0 1px #259be9;
  @HANDLE_SHADOW_2: 0 3px 9px rgba(0, 114, 188, .58);
  @COLOR_HANDLE: white;
  @COLOR_BG_BLUE: #259be9;
  @COLOR_BORDER: #e2e2e2;

  visibility: hidden;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: left;

  .control {
    display: inline-block;
    width: 38px;
    height: 20px;

    background-color: @COLOR_BG_BLUE;
    border: 1px solid @COLOR_BORDER;

    border-radius: 10px;
    cursor: pointer;
    
    background-image: url("/f/switcher-simple-bg.jpg");
    background-repeat: no-repeat;

    .handle {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 18px;
      background: @COLOR_HANDLE;
      border-radius: 50%;
      box-shadow: @HANDLE_SHADOW_1;
      opacity: 1 !important;
      filter: none !important;
    }
  }

  .label {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    font-size: 13px;
    .link-pseudo;
    color: @COLOR_GRAY_LIGHT;
    .dotted(@color: fade(@COLOR_GRAY_LIGHT, @A_UNDERLINE_OPACITY));

    line-height: 1.2;
    margin-left: 12px;
    cursor: pointer;
    .nonselectable;
  }

  &:not(.checked) .control:hover .handle {
    /*box-shadow: @HANDLE_SHADOW_1, @HANDLE_SHADOW_2;*/
  }

  &.checked {
    .control{
      border-color: @COLOR_BG_BLUE;
    }

    .handle {
      border-color: transparent;
      box-shadow: @HANDLE_SHADOW_1;
    }

    .label {
      .link-pseudo;
      color: @COLOR_BLUE;
      .dotted(@color: fade(@COLOR_BLUE, @A_UNDERLINE_OPACITY));
    }
  }
}

/* radioitem */

.radioitem {
  margin-bottom: 12px;

  label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
    line-height: 1.2em;
    cursor: pointer;
    .nonselectable;

    &:before {
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      top: 50%;
      margin-top: -8px;
      left: -24px;
      background: url('/f/radioitem.png') no-repeat left;
      cursor: pointer;
      content: '';
    }
  }

  &.checked label:before {
    background-position: -16px 0;
    content: ' ';  /* fix for IE8 before/after redraw bug */
  }

  &.checked .link-clean,
  &.checked .link-pseudo,
  &.checked .link-clean:hover .link-pseudo:hover,
  &.checked label:hover [class^=link]{
    cursor: default !important;
    color: @COLOR_BLACK;
    background: none !important;

    &:before{
      cursor: default !important;
    }
  }
}

/* popup modal */
.popup-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  overflow: auto;
  background: rgba(50, 50, 50, .2);

  .popup-modal-content {
    margin: 30px auto 0 auto;
    width: 80%;
    min-width: 800px;

    background: white;
    border-radius: 8px;
    .box-shadow(0, 0, 20px, 0, rgba(50, 50, 50, .5));

    padding: 20px 30px;
  }
}

/* popup */
.input.error .popup-body{
  display: block !important;
}
.popup-wrapper.forInput{
  top: 12px;
}
.popup-body{
  @COLOR_BG: #ffe5e5;
  @COLOR_BORDER: #d86367;
  @COLOR_TEXT: #d71e20;

  top: 3px;
  background-color: @COLOR_BG;
  border: 1px solid @COLOR_BORDER;
  border-radius: 3px;
  white-space: nowrap;
  padding: 4px 10px;
  font-family: 'Arial';
  font-size: 12px;
  line-height: 1;
  color: @COLOR_TEXT;

  &:before,
  &:after{
    content: '';
    position: absolute;
    left: 80px;
  }

  &:before{
    top: -4px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 3px solid @COLOR_BORDER;
  }

  &:after{
    top: -3px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 3px solid @COLOR_BG;
  }
}

/* timeline */
.timeline{
  margin-left: 8px;

  label{
    font-size: 12px;
    font-style: italic;
    font-family: 'Arial';
    color: @COLOR_BLACK;
    margin-bottom: 2px;
  }

  /*.timeline-basket{
    visibility: hidden;
    height: 16px;
    margin-top: 8px;
    margin-bottom: -2px;
    background-image: url('/f/timeline-basket.png');
    background-repeat: no-repeat;
  }*/

  .timeline-currentTime{
    visibility: hidden;
    height: 0;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      top: -3px;
      width: 1px;
      height: 9px;
      background: #ed1c24;
    }
  }

  ul{
    display: block;
    margin: 0;

    li{
      display: inline-block;
      text-indent: -8px;
      width: 37px;
      padding-top: 10px;
      color: @COLOR_BLACK;
      font-size: 12px;
      background-image: url("/f/timeline-bg.png");
      background-repeat: no-repeat;

      &.available{
        background-image: url("/f/timeline-bg-available.png");
      }

      &.last{
        width: 1px;
      }
    }
  }

}

.timeline + .timeline{
  margin-top: 0 !important;
}


/* hidden */
.hidden{
  position: absolute !important;
  left: -999999px !important;
  right: auto !important;

}

.itemset-view {
  opacity: 1;

  .transition(opacity 1.0s ease 0s);

  &.hidden{
    opacity: 0;
  }
}

/* map */

.map-block {
  width: 590px;
}

.map-block-large {
  width: 900px;
  max-width: 100%;
}

.map {
  height: 270px;
  .border-radius(4px);
  overflow: hidden;
  position: relative;

  /* chrome bug fix */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.map-block-large .map {
  height: 550px;
}

.map-external{
  text-align: right;
  font-size: 12px;
}

/* paginator */

.paginator li {
  position: relative;
  font-style: italic;
}

.paginator li {
  margin-right: 20px;
}

.paginator li:last-child {
  margin-right: 0;
}

@PAGINATOR_SELECTOR_SIZE: 25px;
.paginator li.selected:before {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: @PAGINATOR_SELECTOR_SIZE;
  height: @PAGINATOR_SELECTOR_SIZE;
  margin: -(@PAGINATOR_SELECTOR_SIZE/2) 0 0 -(@PAGINATOR_SELECTOR_SIZE/2);
  border: 1px solid @COLOR_GRAY_LIGHT;
  border-radius: 50%;
  content: '';
  z-index: 1;
}
