.with-icon,
.with-icon-right {
  position: relative;
}

.with-icon:before,
.with-icon-right:after {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-image: url('/f/icons.png');
  background-repeat: no-repeat;
  content: '';
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
  .with-icon:before,
  .with-icon-right:after {
    background-image: url('/f/icons@2x.png');
    background-size: 192px 1024px;
  }
}

.with-icon:before {
  margin-right: 5px;
}

.with-icon-right:after {
  position: relative;
  margin-left: 5px;
}

.icon(@name, @offset:0, @width:32px, @height:32px, @left:0px, @top:0px) {
  /* default */
  .with-icon.with-icon_@{name}:before,
  .with-icon-right.with-icon_@{name}:after {
    width: @width;
    height: @height;
    top: @top;
    left: @left;
    background-position: 0px -(@offset);
  }
  /* gray */
  .with-icon.with-icon-gray.with-icon_@{name}:before,
  .with-icon-right.with-icon-gray.with-icon_@{name}:after {
    width: @width;
    height: @height;
    background-position: -32px -(@offset);
  }
  /* green */
  .with-icon.with-icon-green.with-icon_@{name}:before,
  .with-icon-right.with-icon-green.with-icon_@{name}:after {
    width: @width;
    height: @height;
    background-position: -96px -(@offset);
  }
  /* white */
  .with-icon.with-icon-white.with-icon_@{name}:before,
  .with-icon-right.with-icon-white.with-icon_@{name}:after {
    width: @width;
    height: @height;
    background-position: -128px -(@offset);
  }
  /* black */
  .with-icon.with-icon-black.with-icon_@{name}:before,
  .with-icon-right.with-icon-black.with-icon_@{name}:after {
    width: @width;
    height: @height;
    background-position: -160px -(@offset);
  }
  /* :hover */
  .with-icon.with-icon-hover.with-icon_@{name}:hover:before,
  .with-icon-right.with-icon-hover.with-icon_@{name}:hover:after {
    width: @width;
    height: @height;
    background-position: -64px -(@offset);
    content: ' '; /* fix for IE8 before/after redraw bug */
  }
  /* .selected */
  .with-icon.selected.with-icon_@{name}:before,
  .with-icon.selected.with-icon_@{name}:hover:before,
  .with-icon-right.selected.with-icon_@{name}:after,
  .with-icon-right.selected.with-icon_@{name}:hover:after {
    width: @width;
    height: @height;
    background-position: -128px -(@offset);
  }
}

/* general icons */

.icon(dummy, @offset:0px, @width:0px, @height:0px);
.icon(return, @offset:32px, @width:15px, @height:10px);
.icon(order, @offset:64px, @width:12px, @height:12px);
.icon(star, @offset:96px, @width:13px, @height:14px);
.icon(heart, @offset:128px, @width:13px, @height:12px, @top:-1px);
.icon(gear, @offset:160px, @width:15px, @height:15px);
.icon(mail, @offset:192px, @width:13px, @height:12px);
.icon(reload, @offset:224px, @width:12px, @height:8px);
.icon(wallet, @offset:256px, @width:16px, @height:13px);
.icon(discount, @offset:288px, @width:16px, @height:15px);
.icon(basket, @offset:320px, @width:15px, @height:16px);
.icon(new, @offset:352px, @width:29px, @height:29px);
.icon(skype, @offset:384px, @width:15px, @height:15px);
.icon(bag, @offset:416px, @width:11px, @height:15px, @top:-2px);
.icon(piggy, @offset:448px, @width:22px, @height:19px, @top:-3px);
.icon(link-new-window, @offset:480px, @width:15px, @height:11px, @left:-2px, @top:-2px);
.icon(link-external, @offset:512px, @width:15px, @height:12px, @left:-4px, @top:-1px);
.icon(down, @offset:544px, @width:8px, @height:4px);
.icon(up, @offset:576px, @width:8px, @height:4px);
.icon(sort-placeholder, @offset:0px, @width:8px, @height:4px);
.icon(close, @offset:608px, @width:11px, @height:11px);
