.popups-fader {
  background: rgb(0, 0, 0);
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB9AAAAABCAQAAAAs9P32AAAAHUlEQVR42u3BMQ0AAAACIPs3tI0xfBhJAQAAgLcBuNKfq6Whzl8AAAAASUVORK5CYII=');
}

/* catalog */

.product-counter-hidden,
.product-count-minus.product-count-minus-hidden,
.product-count-minus:after,
.product-count-plus:after {
  visibility: hidden;
}

.product-counter-pulse-plus,
.product-count-minus:active,
.product-count-plus:active,
.product-count-minus:active:after,
.product-count-plus:active:after {
    visibility: visible;
}

.product-suspended {
  .product-col-quantity,
  .product-col-price {
    visibility: hidden;
  }

  .combo-title,
  .product-col-img,
  .product-col-name {
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }

}