@import "mixins.less";

html, body {
  height: 100%;
}

.layout {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -@FOOTER_HEIGHT;
}

.page {
  position: relative;
  padding-bottom: @FOOTER_HEIGHT;
  overflow: hidden;
}

@SIDEBAR_WIDTH: 240px;

.sidebar {
  float: right;
  width: @SIDEBAR_WIDTH;
  margin-right: 25px;
}

.contents {
  padding: 25px 45px;
  margin-right: @SIDEBAR_WIDTH;
}

.content {
  padding-right: 10px;
}

.header {
}

.footer {
  height: @FOOTER_HEIGHT;
  padding: 25px;
  padding-left: 45px;
}
