@import "lib/painter.less";
@import "variables.less";

a{
  outline: none !important;
}

a,
.link,
.link-pseudo {
  color: @COLOR_BLUE;
  text-decoration: none;
  cursor: pointer;
}

a,
.link,
.link-clean .link-text {
  .underline(@color: fade(@COLOR_BLUE, @A_UNDERLINE_OPACITY));
}

.link-pseudo,
.link-clean .link-pseudo {
  .dotted(@color: fade(@COLOR_BLUE, @A_UNDERLINE_OPACITY));
}

/* white */

.link-white,
.link-white .link-text {
  color: @COLOR_WHITE;
  .underline(@color: fade(@COLOR_WHITE, @A_UNDERLINE_OPACITY));
}

.link-white.link-pseudo,
.link-white.link-pseudo .link-text,
.link-white .link-pseudo {
  .dotted(@color: fade(@COLOR_WHITE, @A_UNDERLINE_OPACITY));
}

/* gray */

.link-gray,
.link-gray .link-text {
  color: @COLOR_GRAY;
  .underline(@color: fade(@COLOR_GRAY, @A_UNDERLINE_OPACITY));
}

.link-gray.link-pseudo,
.link-gray.link-pseudo .link-text,
.link-gray .link-pseudo {
  .dotted(@color: fade(@COLOR_GRAY, @A_UNDERLINE_OPACITY));
}

/* black */

.link-black,
.link-black .link-text {
  color: @COLOR_BLACK;
  .underline(@color: fade(@COLOR_BLACK, @A_UNDERLINE_OPACITY));
}

.link-black.link-pseudo,
.link-black.link-pseudo .link-text,
.link-black .link-pseudo {
  .dotted(@color: fade(@COLOR_BLACK, @A_UNDERLINE_OPACITY));
}

/* green */

.link-green,
.link-green .link-text {
  color: @COLOR_GREEN;
  .underline(@color: fade(@COLOR_GREEN, @A_UNDERLINE_OPACITY));
}

.link-green.link-pseudo,
.link-green.link-pseudo .link-text,
.link-green .link-pseudo {
  .dotted(@color: fade(@COLOR_GREEN, @A_UNDERLINE_OPACITY));
}

/* :hover */

a:hover,
.link:hover,
.link-text:hover,
.link-clean:hover .link-text {
  color: @COLOR_RED;
  .underline(@color: fade(@COLOR_RED, @A_UNDERLINE_OPACITY));
}

.link-pseudo:hover,
.link-pseudo:hover .link-text,
.link-clean:hover .link-pseudo {
  color: @COLOR_RED;
  .dotted(@color: fade(@COLOR_RED, @A_UNDERLINE_OPACITY));
}

.link-clean,
.link-clean:hover {
  background-image: none !important;
}
