@import "variables.less";

.secondary {
  font-style: italic;
  color: @COLOR_GRAY;
}

.important {
  font-weight: bolder;
  color: rgb(155, 0, 17);
}

.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.box-sizing(@value){
  -webkit-box-sizing: @value;
  -moz-box-sizing: @value;
  -ms-box-sizing: @value;
  box-sizing: @value;
}

.border-radius (@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow (@left: 0, @top: 0, @size: 0, @scale: 0, @color: #000) {
  -webkit-box-shadow: @left @top @size @scale @color;
  box-shadow: @left @top @size @scale @color;
}

.box-shadow-inset (@left: 0, @top: 0, @size: 0, @scale: 0, @color: #000) {
  -webkit-box-shadow: inset @left @top @size @scale @color;
  box-shadow: inset @left @top @size @scale @color;
}

.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.vgradient (@from, @to) {
  background-color: @from;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, @from, @to); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(top, @from, @to); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, @from, @to); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, @from, @to); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.hr() {
  &:after {
    display: block;
    height: 5px;
    margin: 20px 0;
    background: url('/f/hr.png') repeat-x center;
    content: '';
  }
}


.transition(@value) {
  -webkit-transition: @value;
  -moz-transition:    @value;
  -o-transition:      @value;
  -ms-transition:     @value;
  transition:         @value;
}


.clearfix(@value){
  &:after{
    content: ".";
    display: block;
    clear: @value;
    visibility: hidden;
    height: 0;
  }
}
