/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.balloonTitle {
  margin-top: 0;
}
.breadcrumbs {
  margin: 0;
  font-weight: normal;
}
.breadcrumbs .sidebar-basket-button {
  line-height: 18px;
  margin-right: 0;
}
.breadcrumbs-item {
  vertical-align: middle;
  color: #000000;
  font-size: 16px;
  line-height: 35px;
}
.breadcrumbs-item.selected {
  font-weight: bold;
  cursor: default;
}
.breadcrumbs-item.breadcrumbs-item-next {
  color: #656565;
  cursor: default;
}
.breadcrumbs-item + .breadcrumbs-item:before {
  color: #656565;
  margin: 0 8px;
  position: relative;
  top: -2px;
  content: '>';
  font-weight: normal !important;
}
.footer {
  color: #000000;
}
.footer-side {
  position: relative;
  top: -60px;
  border: none;
}
.footer-breadcrumbs {
  margin-bottom: 20px;
}
.form {
  max-width: 1000px;
}
.form .phone {
  width: 130px;
}
.form .email {
  width: 210px;
}
.form .self-delivery-input {
  width: 335px;
}
.form .lastname,
.form .firstname,
.form .surname {
  display: inline-block;
  width: 133px;
  /*144px;*/
  margin-left: 8px;
}
.form .lastname:first-child,
.form .firstname:first-child,
.form .surname:first-child {
  margin-left: 0;
}
.form .radioitem img {
  vertical-align: top;
}
.form .radioitem span {
  line-height: 68px;
  font-weight: normal;
}
.form .radioitem.checked span {
  font-weight: bold;
}
.form .form-payments {
  margin-top: -16px;
}
.form .form-price-line {
  font-size: 15px;
  width: 220px;
  overflow: hidden;
}
.form .form-price-line span {
  background: #f2f4f1;
}
.form .form-price-line .price {
  float: right;
}
.form .form-price-line:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}
.form .form-price-line-total {
  vertical-align: baseline;
  margin-top: 20px;
  font-weight: bold;
  color: #308011;
}
.form .form-price-line-total:before {
  display: none;
  content: '';
}
.form-payment {
  display: inline-block;
  vertical-align: middle;
  width: 68px;
  height: 68px;
  margin-right: 5px;
}
.form-payment-card {
  background: url('/f/order/card.png') no-repeat center;
}
.form-payment-cashcard {
  background: url('/f/order/cashcard.png') no-repeat center;
}
.form-payment-cash {
  background: url('/f/order/cash.png') no-repeat center;
}
.form-payment-webmoney {
  background: url('/f/order/webmoney.png') no-repeat center;
}
.form-payment-yandex {
  background: url('/f/order/yandex.png') no-repeat center;
}
.form-payment-qiwi {
  background: url('/f/order/qiwi.png') no-repeat center;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .form-payment {
    background-size: 68px 68px;
  }
  .form-payment-card {
    background-image: url('/f/order/card@2x.png');
  }
  .form-payment-cashcard {
    background-image: url('/f/order/cashcard@2x.png');
  }
  .form-payment-cash {
    background-image: url('/f/order/cash@2x.png');
  }
  .form-payment-webmoney {
    background-image: url('/f/order/webmoney@2x.png');
  }
  .form-payment-yandex {
    background-image: url('/f/order/yandex@2x.png');
  }
  .form-payment-qiwi {
    background-image: url('/f/order/qiwi@2x.png');
  }
}
.delivery-zone-yellow,
.delivery-zone-lightblue,
.delivery-zone-green,
.delivery-zone-purple,
.delivery-zone-blue {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.delivery-zone-yellow {
  background: #f4d630;
}
.delivery-zone-lightblue {
  background: #4eb6df;
}
.delivery-zone-green {
  background: #7dd45a;
}
.delivery-zone-purple {
  background: #e09cdb;
}
.delivery-zone-blue {
  background: #005da6;
}