@import "mixins.less";

.balloonTitle{
  margin-top: 0;
}

.breadcrumbs {
  margin: 0;
  font-weight: normal;

  .sidebar-basket-button {
    line-height: 18px;
    margin-right: 0;
  }
}

.breadcrumbs-item {
  vertical-align: middle;
  color: @COLOR_BLACK;
  font-size: 16px;
  line-height: 35px;
}

.breadcrumbs-item.selected {
  font-weight: bold;
  cursor: default;
}

.breadcrumbs-item.breadcrumbs-item-next {
  color: @COLOR_GRAY;
  cursor: default;
}

.breadcrumbs-item + .breadcrumbs-item:before {
  color: @COLOR_GRAY;
  margin: 0 8px;
  position: relative;
  top: -2px;
  content: '→';
  font-weight: normal !important;
}

.footer {
  color: @COLOR_BLACK;
}

.footer-side {
  position: relative;
  top: -60px;
  border: none;
}

.footer-breadcrumbs {
  margin-bottom: 20px;
}

.form {
  max-width: 1000px;

  .phone{
    width: 130px;
  }

  .email{
    width: 210px;
  }

  .lastname,
  .firstname,
  .surname{
    display: inline-block;
    width: 133px;/*144px;*/
    margin-left: 8px;

    &:first-child{
      margin-left: 0;
    }
  }

  .radioitem img {
    vertical-align: top;
  }

  .radioitem span {
    line-height: 68px;
    font-weight: normal;
  }

  .radioitem.checked span {
    font-weight: bold;
  }

  .form-payments {
    margin-top: -16px;
  }

  .form-price-line {
    font-size: 15px;
    width: 220px;
    overflow: hidden;

    span {
      background: #f2f4f1;
    }

    .price {
      float: right;
    }

    &:before {
      float: left;
      width: 0;
      white-space: nowrap;
      content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
    }
  }

  .form-price-line-total {
    vertical-align: baseline;
    margin-top: 20px;
    font-weight: bold;
    color: @COLOR_GREEN;
    &:before {
      display: none;
      content: '';
    }
  }

}

.form-payment {
  display: inline-block;
  vertical-align: middle;
  width: 68px;
  height: 68px;
  margin-right: 5px;
}

.form-payment-card {
  background: url('/f/order/card.png') no-repeat center;
}

.form-payment-cashcard {
  background: url('/f/order/cashcard.png') no-repeat center;
}

.form-payment-cash {
  background: url('/f/order/cash.png') no-repeat center;
}

.form-payment-webmoney {
  background: url('/f/order/webmoney.png') no-repeat center;
}

.form-payment-yandex {
  background: url('/f/order/yandex.png') no-repeat center;
}

.form-payment-qiwi {
  background: url('/f/order/qiwi.png') no-repeat center;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
  .form-payment {
    background-size: 68px 68px;
  }

  .form-payment-card {
    background-image: url('/f/order/card@2x.png');
  }


  .form-payment-cashcard {
    background-image: url('/f/order/cashcard@2x.png');
  }

  .form-payment-cash {
    background-image: url('/f/order/cash@2x.png');
  }

  .form-payment-webmoney {
    background-image: url('/f/order/webmoney@2x.png');
  }

  .form-payment-yandex {
    background-image: url('/f/order/yandex@2x.png');
  }

  .form-payment-qiwi {
    background-image: url('/f/order/qiwi@2x.png');
  }

}

.delivery-zone-yellow,
.delivery-zone-lightblue,
.delivery-zone-green,
.delivery-zone-purple,
.delivery-zone-blue {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  .border-radius(8px);
}

.delivery-zone-yellow {
  background: #f4d630;
}

.delivery-zone-lightblue {
  background: #4eb6df;
}
.delivery-zone-green {
  background: #7dd45a;
}
.delivery-zone-purple {
  background: #e09cdb;
}

.delivery-zone-blue {
  background: #005da6;
}
