@import "mixins.less";

.pacman-path {
  display: inline-block;
  vertical-align: top;
  height: 17px;
  padding: 3px 7px;
  text-align: right;
  background: #f5f5f5;
  .border-radius(8px);
}

.pacman-himself,
.pacman-monster,
.pacman-dot,
.pacman-icecream,
.pacman-cherry,
.pacman-apple {
  display: inline-block;
  vertical-align: top;
  width: 11px;
  height: 11px;
  margin: 0 1px;
  background-image: url('/f/pacman.png');
}

.pacman-himself {
  background-image: url('/f/pacman.gif');
}

.pacman-dot {
  background-position: -11px 0;
}

.pacman-monster {
  background-position: -22px 0;
}

.pacman-icecream {
  background-position: -33px 0;
}

.pacman-cherry {
  background-position: -44px 0;
}

.pacman-apple {
  background-position: -55px 0;
}

