/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pacman-path {
  display: inline-block;
  vertical-align: top;
  height: 17px;
  padding: 3px 7px;
  text-align: right;
  background: #f5f5f5;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.pacman-himself,
.pacman-monster,
.pacman-dot,
.pacman-icecream,
.pacman-cherry,
.pacman-apple {
  display: inline-block;
  vertical-align: top;
  width: 11px;
  height: 11px;
  margin: 0 1px;
  background-image: url('/f/pacman.png');
}
.pacman-himself {
  background-image: url('/f/pacman.gif');
}
.pacman-dot {
  background-position: -11px 0;
}
.pacman-monster {
  background-position: -22px 0;
}
.pacman-icecream {
  background-position: -33px 0;
}
.pacman-cherry {
  background-position: -44px 0;
}
.pacman-apple {
  background-position: -55px 0;
}