@import "variables.less";

@media print {

  a,
  .link,
  .link-pseudo {
    color: @COLOR_BLACK !important;
    text-decoration: underline;
    background: none;
  }

  html,
  body,
  .layout {
    height: auto;
    min-height: auto;
  }

  .layout {
    margin-bottom: 20px;
  }

  .page {
    padding-bottom: 0;
  }

  .contents,
  .footer {
    padding: 0 !important;
    margin: 0 !important;
  }

  .tabs {
    margin-left: -25px;
  }

  .breadcrumbs + .content > h1:first-child {
    margin-top: 0.67em;
  }

  .content > .deals-item {
    margin-top: 2em;
  }

  .confirmation .tabs-contents {
    width: auto !important;
  }

  .layout .top,
  .header-search,
  .breadcrumbs,
  .sidebar,
  .link-back,
  .contacts_form,
  .vacancy-apply,
  .footer-side-promo,
  .footer-side,
  .footer a,
  .deals-item-timeline,
  .deals-item-image:after,
  .deal-item-image:after {
    display: none !important;
  }

  .footer a[href^="mailto:"] {
    display: inline !important;
    color: @COLOR_GRAY !important;
    text-decoration: underline;
    background: none;
  }

}