@import "mixins.less";

.sidebar {
  padding-top: 200px;

  h5{
    margin-top: 18px;
    margin-bottom: 10px;
  }

  .timeline{
    margin-top: 14px;
  }

  .timeline-moscow,
  .timeline-mkad{
    height: 120px;
  }

  .itemset{
    margin-top: 22px;
  }
}

.sidebar-title {
  margin-bottom: 20px;
  font-family: 'ALS Schlange Sans';
  font-size: 20px;
  font-weight: bold;
  color: @COLOR_BLACK;
}

.sidebar-auth {
  height: 15px;
  margin-bottom: 15px;
  font-size: 12px;
}

.sidebar-login {
  float: right;
}

.sidebar-logout {
  float: right;
}

.sidebar-block {
  line-height: 1.333;
  margin-bottom: 20px;
}

.sidebar-block-text {
  .secondary();
  margin-top: 10px;
}

.ribbon-wrapper {
  position: absolute;
  right: 25px;
  top: 0;
  width: 240px;
}

.ribbon {
  position: relative;
  z-index: 100;
  height: 120px;
  width: 240px;
  padding: 15px;
  margin: 0 auto 60px;
  background: #f6f7eb;
}

.ribbon:before {
  position: absolute;
  z-index: -1;
  display: block;
  top: 0;
  left: -50px;
  width: 300px;
  height: 28px;
  background: url('/f/ribbon-shadow.png') no-repeat center;
  content: '';
}

.ribbon:after {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 240px;
  height: 60px;
  background: url('/f/ribbon-bottom.png') no-repeat center;
  content: '';
}

/* sidebar-basket */

.sidebar-basket {
  white-space: nowrap;
}

.sidebar-basket-button {
  position: relative;
}

.sidebar-basket-total {
  display: inline-block;
  vertical-align: top;
  height: 38px;
  line-height: 38px;
  margin: 0 0 5px 5px;
  font-size: 25px;
}

.sidebar-basket-delivery{
  color: @COLOR_GRAY;
  font-size: 12px;
  font-style: italic;
  line-height: 1.4;
  white-space: normal;
}

/* sidebar-contacts */

.sidebar-contacts-phone {
  font-family: 'ALS Schlange Sans';
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 7px;
}

.sidebar-contacts-worktime {
  color: @COLOR_GRAY;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 1em;
}

/* sidebar-offer */

.sidebar-offer {
  position: relative;
  padding: 1em 3em 2em 3em;
  margin: 0 -.5em 40px -.5em;
  text-align: center;
  border: 1px dashed @COLOR_GRAY;
  border-radius: 8px;
}

.sidebar-offer:after {
  position: absolute;
  display: block;
  bottom: -10px;
  left: 50%;
  width: 22px;
  height: 19px;
  margin-left: -11px;
  background: url('scissors.png') no-repeat center;
  content: '';
}

.sidebar-offer-image {
  margin-bottom: 20px;
}

/* sidebar-news */

.sidebar-news h5 {
  margin-bottom: 10px;
}

.sidebar-news-article {
  margin-bottom: 10px;
}

.sidebar-news-article-date {
  color: @COLOR_GRAY;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 3px;
}

/* sidebar login window */

.sidebar-login-window-placeholder {
  position: relative;
  z-index: 3;
  display: inline;
  width: 100%;
  height: 0px;
}

.sidebar-login-window {
  display: none;
  position: absolute;
  left: -285px;
  top: 30px;
  width: 315px;
  height: 295px;
  padding: 10px 20px;
  background: @COLOR_WHITE;
  .box-shadow(0, 0, 10px, 0, fade(@COLOR_BLACK, 20%));
  .border-radius(8px);

  .ie8 &{
    border: 1px solid @COLOR_GRAY_LIGHTEST;
  }
}

.sidebar-login-window:before {
  position: absolute;
  left: 250px;
  top: -15px;
  width: 26px;
  height: 15px;
  background: url('/f/auth-arrow.png') no-repeat center;
  content: '';
}

.sidebar-login-window .sidebar-recover-block {
  display: none;
}

.sidebar-login-window.sidebar-login-recover {
  height: 220px;
}

.sidebar-login-window.sidebar-login-recover .sidebar-login-block {
  display: none;
}

.sidebar-login-window.sidebar-login-recover .sidebar-recover-block {
  display: block;
}

.sidebar-login-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.sidebar-login-input {
  width: 240px;
  margin-bottom: 30px;
  border: 2px solid @COLOR_GREEN;
}

.sidebar-login-controls {
  margin-bottom: 20px;
}

.sidebar-login-controls button {
  vertical-align: middle;
  margin-right: 20px;
}