/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.personal_wallet__info {
  display: inline-block;
  width: 50%;
  /*460px;*/
}
.personal_wallet__balance {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 40px;
  border-radius: 12px;
  color: #539c18;
  background: #f0fbe5;
  padding: 10px 16px 0 16px;
  margin: 40px 0 0 40px;
}
.personal_wallet__balance .hint {
  position: absolute;
  color: #7aa840;
  font-size: 14px;
  left: 0;
  top: -27px;
}
.personal_wallet__recommended {
  margin-top: 28px;
}
/* randomProduct */
.randomProduct {
  display: none;
}
.randomProduct:after {
  display: inline-block;
  margin-left: 3px;
  height: 25px;
  margin-top: -2px;
  margin-bottom: -8px;
  background: url("/f/personal/wallet/randomProducts.jpg");
  content: '';
}
.randomProduct.img_bananas:after {
  width: 27px;
  background-position: 0 0;
}
.randomProduct.img_tomatoes:after {
  width: 24px;
  background-position: -34px 0;
}
.randomProduct.img_potatoes:after {
  width: 36px;
  background-position: -60px 0;
}
.randomProduct.img_grape:after {
  width: 27px;
  background-position: -100px 0;
}
.randomProduct.img_beef:after {
  width: 38px;
  background-position: -132px 0;
}
.randomProduct.img_apples:after {
  width: 25px;
  background-position: -173px 0;
}
.personal_wallet_years {
  margin-bottom: 40px;
}
.orderline {
  padding-top: 20px;
}
.orderline_item_date,
.orderline_item_line,
.orderline_item_order,
.orderline_item_money,
.orderline_item_order_info,
.orderline_item_order_extra {
  display: inline-block;
  vertical-align: top;
}
.orderline_item_date {
  width: 110px;
  color: #7b7b7b;
  font-size: 12px;
  text-align: right;
}
.orderline_item_line {
  position: relative;
  top: 10px;
  width: 1px;
  height: 100px;
  margin: 0 10px;
  border-left: 1px dotted #656565;
}
.orderline_item_line:before,
.orderline_item_line:after {
  position: absolute;
  left: -5px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #65a62e;
  content: '';
}
.orderline_item_line:before {
  top: -5px;
}
.orderline_item_line:after {
  bottom: -5px;
}
.orderline_item:last-child .orderline_item_line {
  visibility: hidden;
}
.orderline_item_order {
  position: relative;
  top: -13px;
  margin-left: 10px;
  padding: 10px 20px;
  background: #fcfbe4;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.orderline_item_order:before {
  position: absolute;
  left: -20px;
  top: 13px;
  width: 0px;
  height: 0px;
  border-right: 10px solid #fcfbe4;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: '';
}
.orderline_item_order .orderline_item_order_no {
  margin-bottom: 5px;
}
.orderline_item_order .orderline_item_order_amount {
  font-size: 14px;
}
.orderline_item_order,
.orderline_item_order_info {
  width: 160px;
}
.orderline_item_order_expanded {
  width: 400px;
}
.orderline_item_order_extra {
  width: 190px;
  font-size: 12px;
  margin-top: 4px;
}
.orderline_item_order_extra_item {
  overflow: hidden;
  line-height: 20px;
}
.orderline_item_order_extra_item .amount {
  float: right;
  margin-left: 5px;
  font-weight: bold;
}
.orderline_item_order_extra_item .price {
  font-size: 14px;
}
.orderline_item_money {
  position: relative;
  top: -13px;
  margin-left: 20px;
  padding: 13px 20px 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #539c18;
  background: #f0fbe5;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.orderline_item_money:before {
  position: absolute;
  left: -20px;
  top: 50%;
  width: 0px;
  height: 0px;
  margin-top: -10px;
  border-right: 10px solid #f0fbe5;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: '';
}
.orderline_item_money .price {
  margin-left: 10px;
  font-size: 20px;
}