@import "../../mixins.less";

.personal_wallet__info {
  display: inline-block;
  width: 50%; /*460px;*/
}

.personal_wallet__balance {
  @COLOR_TEXT: #539c18;
  @COLOR_BG: #f0fbe5;
  @COLOR_HINT: #7aa840;

  display: inline-block;
  position: relative;

  vertical-align: top;
  font-size: 40px;
  border-radius: 12px;
  color: @COLOR_TEXT;
  background: @COLOR_BG;

  padding: 10px 16px 0 16px;
  margin: 40px 0 0 40px;

  .hint {
    position: absolute;
    color: @COLOR_HINT;
    font-size: 14px;
    left: 0;
    top: -27px;
  }
}

.personal_wallet__recommended {
  margin-top: 28px;
}

/* randomProduct */
.randomProduct {
  display: none;

  &:after {
    display: inline-block;
    margin-left: 3px;
    height: 25px;
    margin-top: -2px;
    margin-bottom: -8px;
    background: url("/f/personal/wallet/randomProducts.jpg");
    content: '';
  }

  &.img_bananas:after {
    width: 27px;
    background-position: 0 0;
  }
  &.img_tomatoes:after {
    width: 24px;
    background-position: -34px 0;
  }
  &.img_potatoes:after {
    width: 36px;
    background-position: -60px 0;
  }
  &.img_grape:after {
    width: 27px;
    background-position: -100px 0;
  }
  &.img_beef:after {
    width: 38px;
    background-position: -132px 0;
  }
  &.img_apples:after {
    width: 25px;
    background-position: -173px 0;
  }

}

.personal_wallet_years {
  margin-bottom: 40px;
}

.orderline {
  padding-top: 20px;
}

.orderline_item_date,
.orderline_item_line,
.orderline_item_order,
.orderline_item_money,
.orderline_item_order_info,
.orderline_item_order_extra {
  display: inline-block;
  vertical-align: top;
}

.orderline_item_date {
  width: 110px;
  color: @COLOR_GRAY_LIGHT;
  font-size: 12px;
  text-align: right;
}

.orderline_item_line {
  position: relative;
  top: 10px;
  width: 1px;
  height: 100px;
  margin: 0 10px;
  border-left: 1px dotted @COLOR_GRAY;

  &:before,
  &:after {
    position: absolute;
    left: -5px;
    width: 10px;
    height: 10px;
    .border-radius(50%);
    background: @COLOR_GREEN_PERSONAL;
    content: '';
  }

  &:before {
    top: -5px;
  }

  &:after {
    bottom: -5px;
  }
}

.orderline_item:last-child .orderline_item_line {
  visibility: hidden;
}

.orderline_item_order {
  position: relative;
  top: -13px;
  margin-left: 10px;
  padding: 10px 20px;
  background: rgb(252, 251, 228);
  .border-radius(8px);

  &:before {
    position: absolute;
    left: -20px;
    top: 13px;
    width: 0px;
    height: 0px;
    border-right: 10px solid rgb(252, 251, 228);;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: '';
  }

  .orderline_item_order_no {
    margin-bottom: 5px;
  }

  .orderline_item_order_amount {
    font-size: 14px;
  }
}

.orderline_item_order,
.orderline_item_order_info {
  width: 160px;
}

.orderline_item_order_expanded {
  width: 400px;
}

.orderline_item_order_extra {
  width: 200px;
  font-size: 12px;
  margin-top: 4px;
}

.orderline_item_order_extra_item {
  overflow: hidden;
  line-height: 20px;
  .amount {
    float: right;
    margin-left: 5px;
    font-weight: bold;
  }
  .price {
    font-size: 14px;
  }
}

.orderline_item_money {
  position: relative;
  top: -13px;
  margin-left: 20px;
  padding: 13px 20px 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: @COLOR_GREEN_LIGHTEST;
  background: rgb(240, 251, 229);
  .border-radius(8px);

  &:before {
    position: absolute;
    left: -20px;
    top: 50%;
    width: 0px;
    height: 0px;
    margin-top: -10px;
    border-right: 10px solid rgb(240, 251, 229);
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: '';
  }

  .price {
    margin-left: 10px;
    font-size: 20px;
  }
}
