/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.news-item {
  margin: 30px 0 40px 0;
}
.news-item-title {
  margin-top: .1em;
}
.news-item-image {
  margin-bottom: 20px;
}
.news-item-date {
  font-style: italic;
  color: #656565;
}
.news-navigation {
  overflow: hidden;
}
.news-navigation-arrow,
.news-navigation-text {
  display: inline-block;
  vertical-align: top;
}
.news-navigation-text {
  width: 270px;
}
.news-next {
  float: right;
}
.news-prev {
  float: left;
}
.news-digest h3 {
  margin-bottom: 40px;
}