@import "../mixins.less";

.news-item {
  margin: 30px 0 40px 0;
}

.news-item-title {
  margin-top: .1em;
}

.news-item-image {
  margin-bottom: 20px;
}

.news-item-date {
  .secondary();
}

.news-navigation {
  overflow: hidden;
}

.news-navigation-arrow,
.news-navigation-text {
  display: inline-block;
  vertical-align: top;
}

.news-navigation-text {
  width: 270px;
}

.news-next {
  float: right;
}

.news-prev {
  float: left;
}

.news-digest h3 {
  margin-bottom: 40px;
}