.search-results-title {
  font-style: italic;
}
.search-no-results-wrapper {
  text-align: center;
}
.search-no-results {
  margin-bottom: 40px;
  padding-top: 200px;
  font-size: 18px;
  background: url('/f/search/sad.png') no-repeat center top;
}
.search-no-results:after {
  display: block;
  width: 100%;
  height: 20px;
  background: url('/f/search/hr.png') no-repeat center top;
  content: '';
}
.suggestions {
  display: inline-block;
  vertical-align: top;
  max-width: 600px;
  font-size: 18px;
  font-weight: bold;
}