/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.deal-item {
  margin-bottom: 40px;
}
.deal-item-image {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  margin-bottom: 20px;
  z-index: 0;
}
.deal-item-image .deal-item-image-wrapper {
  position: relative;
  z-index: -1;
}
.deal-item-image:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100%;
  width: 91px;
  height: 90px;
  margin: -45px 0 0 -45px;
  background: url('/f/deal_page/star.png');
  content: '';
}
.deal-item-text {
  clear: left;
}
.deals-digest h3 {
  margin-bottom: 40px;
}
.deals-digest li {
  clear: left;
  margin-bottom: 20px;
}
.deals-item-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.deals-item-image:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/f/deal_page/overlay.png') no-repeat center;
  content: '';
}
.deals-item-image img {
  width: 100%;
  height: 100%;
}
.deals-item-text {
  display: inline-block;
  vertical-align: middle;
}
.deals-item-text a {
  font-weight: bold;
}
.deals-item-date {
  font-style: italic;
  color: #656565;
}