@import "../mixins.less";

.brand__categories{
  margin-top: 22px;
  margin-left: -10px;

  label{
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .itemset-item{
    display: inline-block;
    line-height: 1.2;
  }
}

.brand_logo{
  width: 181px;
  max-width: 181px;
  background-image: url("/f/brand/brand.png");
  background-repeat: no-repeat;
  background-position: 0 52px;
}