/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.brand__categories {
  margin-top: 22px;
  margin-left: -10px;
}
.brand__categories label {
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.brand__categories .itemset-item {
  display: inline-block;
  line-height: 1.2;
}
.brand_logo {
  width: 181px;
  max-width: 181px;
  background-image: url("/f/brand/brand.png");
  background-repeat: no-repeat;
  background-position: 0 52px;
}