@import "../mixins.less";

.link-back {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 74px;
  height: 33px;
  margin-right: 20px;
  border-radius: 12px;
  .box-shadow(1px, 1px, 2px, 0, rgba(0, 0, 0, .5));
  background: rgb(225, 225, 225) url('/f/back.png') no-repeat 30px 10px !important;
}

.link-back:hover {
  background: rgb(243, 243, 243) url('/f/back.png') no-repeat 30px 10px !important;
}

.link-back:active {
  top: 2px;
  left: 2px;
  .box-shadow(0px, 0px, 2px, 0, rgba(0, 0, 0, .3));
  background-position: 29px 9px;
}

h2 {
  margin-bottom: 40px;
}

.product-card {

  margin-bottom: 60px;

  .product-info {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 274px;
    margin: 0 28px 40px 0;
  }

  .product-controls {
    .nonselectable();
  }

  .product-data {
    display: inline-block;
    vertical-align: top;
  }

  .product-image {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 350px;
    text-align: center;
  }

  .product-image-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  .product-image-wrapper img {
    max-width: 200px;
    max-height: 300px;
  }

  .product-details-container {
    overflow: hidden;
  }

  .product-details {
    display: none;
    position: relative;
    z-index: 1;
    width: 257px;
    padding: 20px 45px 20px 20px;
    margin: 0 17px 31px 0;
    font-size: 12px;
    text-align: left;
    background: #f6f7eb url('/f/product/bg.jpg') no-repeat right bottom;
    overflow: visible !important;
  }

  .product-details:before {
    position: absolute;
    z-index: -1;
    right: -17px;
    bottom: -31px;
    width: 257px;
    height: 237px;
    background: url('/f/product/shadow.png') no-repeat center;
    content: '';
  }

  .product-details-wrapper {
    height: 100%;
    overflow: hidden;
  }

  .product-count {
    position: relative;
    display: block;
    width: 92px;
    height: 92px;
    margin: 0 0 20px 0;
    .nonselectable();
  }

  .product-count-title {
    color: #79cb19;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
  }

  .product-count-minus {
    position: absolute;
    right: -40px;
    width: 48px;
    background: url('/f/minus.png') no-repeat 0 -276px;
  }

  .product-count-minus:hover {
    background-position: 0 -184px;
  }

  .product-count-plus {
    width: 92px;
    margin-left: -3px;
    background: url('/f/plus.png') no-repeat 0 -276px;
  }

  .product-count-plus:hover {
    background-position: 0 -184px;
  }

  .product-price {
    width: 155px;
    height: 54px;
    margin-bottom: 20px;
    padding-top: 13px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    background: url('/f/price-sticker-big.png') no-repeat center;
  }

  .product-stats {
    margin-bottom: 20px;
  }

  .product-stat:first-child {
    margin-bottom: -3px;
  }

  .product-stat {
    margin: 3px 0;
  }

  .product-stat-name {
    font-weight: bold;
  }
  
  .product-stat-value {
    display: inline-block;
    vertical-align: top;
  }

  .product-brand-more a {
    font-style: italic;
  }
  
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
  .product-card .product-count-plus {
    background: url('/f/plus@2x.png') no-repeat 0 -276px;
    background-size: 92px 368px;
  }
  .product-card .product-count-minus {
    background: url('/f/minus@2x.png') no-repeat 0 -276px;
    background-size: 48px 399px;
  }
}

.product-tags {
  margin-bottom: 40px;
  .hr();
}

.product-complement {
  .hr();
}
