/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.basket-button {
  display: inline-block;
  vertical-align: top;
  height: 35px;
  margin-right: 10px;
  padding: 6px 12px 6px 15px;
  color: #656565;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1e1e1));
  /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #ffffff, #e1e1e1);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  border: 1px solid #b0b0b0;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all 1s cubic-bezier(0, 1.3, 1, 1.38);
  -moz-transition: all 1s cubic-bezier(0, 1.3, 1, 1.38);
  transition: all 1s cubic-bezier(0, 1.3, 1, 1.38);
}
.basket-button:active {
  background-color: #e1e1e1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#ffffff));
  /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #e1e1e1, #ffffff);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -moz-linear-gradient(top, #e1e1e1, #ffffff);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, #e1e1e1, #ffffff);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #e1e1e1, #ffffff);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.basket-button:hover {
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ffffff));
  /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #f2f2f2, #ffffff);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, #f2f2f2, #ffffff);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, #f2f2f2, #ffffff);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.basket-button:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  content: '';
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.basket-button.active:after {
  background: #ffffff;
}
.basket-button span {
  position: relative;
  z-index: 1;
}
.basket-popup .popup-window {
  width: 1000px;
}
.basket-popup-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.basket-side {
  position: relative;
  top: -18px;
  display: inline-block;
  vertical-align: top;
  width: 260px;
  text-align: right;
}
.basket-close {
  position: absolute;
  top: -50px;
  right: 0;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  color: #f2f4f1;
  background: #505050;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.basket-close span {
  display: inline-block;
  vertical-align: top;
  padding: 6px 12px;
}
.basket-side-content {
  padding: 25px 0 0 25px;
  font-size: 13px;
  line-height: 1.3;
}
.basket-bill {
  position: relative;
  padding: 40px 20px;
  margin-bottom: 60px;
  text-align: left;
  background: #ffffff;
}
.basket-bill:before {
  position: absolute;
  left: 0;
  top: -5px;
  width: 100%;
  height: 5px;
  background: url('/f/_basket/tape-up.png') repeat-x;
  content: '';
}
.basket-bill:after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background: url('/f/_basket/tape-down.png') repeat-x;
  content: '';
}
.basket-bill-total {
  position: relative;
  padding-bottom: 20px;
  margin: 10px 0 15px 0;
  font-size: 32px;
}
.basket-bill-total:after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  font-size: 12px;
  text-align: center;
  color: #656565;
  content: '* * * * * * * * * * * * * * * * * * * * * * * *';
}
.basket-bill-controls {
  margin-bottom: 20px;
}
.basket-blocks {
  text-align: left;
  color: #ffffff;
}
.basket-block {
  margin-bottom: 60px;
}
.basket-block:last-child {
  margin-bottom: 0;
}
.basket-block-text {
  margin: 10px 0 20px 0;
}
.basket-bill-points {
  margin-bottom: 20px;
  padding-top: 25px;
  background: url('/f/_basket/pig.png') no-repeat left top;
}
.basket-bill-points-text {
  vertical-align: middle;
  margin-bottom: 10px;
  color: #308011;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.basket-bill-points-form {
  display: none;
}
.basket-bill-points-form .input {
  width: 110px;
}
.basket-bill-points-form .input input {
  text-align: right;
}
.basket-bill-points-pay {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.basket-bill-promo {
  margin-bottom: 10px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.basket-bill-promo-form {
  display: none;
}
.basket-bill-promo-form .input {
  width: 110px;
}
.basket-bill-points-button,
.basket-bill-promo-button {
  margin: 10px 0;
}
.basket-bill-delivery-cost {
  margin-bottom: 5px;
}
.basket-relay {
  margin: 20px 0;
}
.basket-relay-button span {
  padding-right: 30px;
  background: url('/f/_basket/relay.png') no-repeat right center;
}
.basket-relay-link {
  display: none;
  margin-top: 20px;
}
.basket-main {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 740px;
  background: #ffffff;
}
.basket-header {
  position: relative;
  padding: 20px;
  background: #fffef1;
}
.basket-header:after,
.basket-products:after {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 13px;
  background: url('/f/_basket/shadow.png') no-repeat center top;
  background-size: 100% 100%;
  content: '';
}
.basket-clear {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  font-size: 12px;
}
.basket-header h1 {
  margin: 10px 0 40px;
}
.basket-content {
  padding: 20px 0;
}
.basket-products {
  position: relative;
  margin-top: -50px;
}
.basket-filters {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.basket-filter {
  color: #656565;
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  cursor: default;
}
.basket-filter + .basket-filter {
  margin-left: 30px;
}
.basket-suggest {
  position: relative;
  margin-top: 20px;
  text-align: right;
}
.basket-suggest-title {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 15px 10px;
  margin: 0 25px;
  color: #79a747;
  font-family: 'ALS Schlange Sans';
  font-size: 16px;
  border: 1px solid #c0d6a6;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.basket-suggest-title:after {
  position: absolute;
  right: 20px;
  bottom: -12px;
  width: 13px;
  height: 12px;
  background: url('/f/_basket/corner.png') no-repeat center;
  content: '';
}
.basket-suggest .products {
  margin: 0 40px;
}
.basket-recommended {
  padding: 0 20px;
}
.basket-recommended-set,
.basket-recommended-more {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 40px 0;
}
.basket-recommended-more {
  width: 152px;
  height: 160px;
  padding: 70px 25px 0 5px;
  text-align: center;
  background: url('/f/personal/products/more.png') no-repeat center;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .basket-suggest-title:after {
    background-image: url('/f/_basket/corner@2x.png');
    background-size: 13px 12px;
  }
  .basket-bill-points {
    background-image: url('/f/_basket/pig@2x.png');
    background-size: 30px 24px;
  }
}