@import "../lib/painter.less";
@import "../mixins.less";

.basket-button {
  display: inline-block;
  vertical-align: top;
  height: 35px;
  margin-right: 10px;
  padding: 6px 12px 6px 15px;
  color: @COLOR_GRAY;
  .vgradient(@COLOR_WHITE, #e1e1e1);
  border: 1px solid @COLOR_GRAY_LIGHTER;
  .border-radius(24px);
  .box-shadow(0, 0, 5px, 0, rgba(0, 0, 0, .2));
  cursor: pointer;
  -webkit-transition: all 1s cubic-bezier(0, 1.3, 1, 1.38);
  -moz-transition: all 1s cubic-bezier(0, 1.3, 1, 1.38);
  transition: all 1s cubic-bezier(0, 1.3, 1, 1.38);
}

.basket-button:active {
  .vgradient(#e1e1e1, @COLOR_WHITE);
}

.basket-button:hover {
  .vgradient(#f2f2f2, @COLOR_WHITE);
}

.basket-button:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .border-radius(24px);
  content: '';
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.basket-button.active:after {
  background: @COLOR_WHITE;
}

.basket-button span {
  position: relative;
  z-index: 1;
}


.basket-popup .popup-window {
  width: 1000px;
}

.basket-popup-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.basket-side {
  position: relative;
  top: -18px;
  display: inline-block;
  vertical-align: top;
  width: 260px;
  text-align: right;
}

.basket-close {
  position: absolute;
  top: -50px;
  right: 0;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  color: @COLOR_GRAY_LIGHTEST;
  background: rgb(80, 80, 80);
  .border-radius(12px);
  .nonselectable();
  cursor: pointer;
}

.basket-close span {
  display: inline-block;
  vertical-align: top;
  padding: 6px 12px;
}

.basket-side-content {
  padding: 25px 0 0 25px;
  font-size: 13px;
  line-height: 1.3;
}

.basket-bill {
  position: relative;
  padding: 40px 20px;
  margin-bottom: 60px;
  text-align: left;
  background: @COLOR_WHITE;
}

.basket-bill:before {
  position: absolute;
  left: 0;
  top: -5px;
  width: 100%;
  height: 5px;
  background: url('/f/_basket/tape-up.png') repeat-x;
  content: '';
}

.basket-bill:after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background: url('/f/_basket/tape-down.png') repeat-x;
  content: '';
}

.basket-bill-count {
}

.basket-bill-total {
  position: relative;
  padding-bottom: 20px;
  margin: 10px 0 15px 0;
  font-size: 32px;
}

.basket-bill-total:after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  font-size: 12px;
  text-align: center;
  color: @COLOR_GRAY;
  content: '* * * * * * * * * * * * * * * * * * * * * * * *';
}

.basket-bill-controls {
  margin-bottom: 20px;
}

.basket-blocks {
  text-align: left;
  color: @COLOR_WHITE;
}

.basket-block {
  margin-bottom: 60px;
}

.basket-block:last-child {
  margin-bottom: 0;
}

.basket-block-text {
  margin: 10px 0 20px 0;
}

.basket-bill-points {
  margin-bottom: 20px;
  padding-top: 25px;
  background: url('/f/_basket/pig.png') no-repeat left top;
}

.basket-bill-points-text {
  vertical-align: middle;
  margin-bottom: 10px;
  color: @COLOR_GREEN;
  .nonselectable();
}

.basket-bill-points-amount {
}

.basket-bill-points-form {
  display: none;

  .input {
    width: 110px;

    input {
      text-align: right;
    }
  }

}

.basket-bill-points-pay {
  .nonselectable();
}

.basket-bill-promo {
  margin-bottom: 10px;
  .nonselectable();
}

.basket-bill-promo-form {
  display: none;

  .input {
    width: 110px;
  }
}

.basket-bill-points-button,
.basket-bill-promo-button {
  margin: 10px 0;
}

.basket-bill-delivery-cost {
  margin-bottom: 5px;
}

.basket-relay {
  margin: 20px 0;
}

.basket-relay-button span {
  padding-right: 30px;
  background: url('/f/_basket/relay.png') no-repeat right center;
}

.basket-relay-link {
  display: none;
  margin-top: 20px;
}

.basket-main {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 740px;
  background: @COLOR_WHITE;
}

.basket-header {
  position: relative;
  padding: 20px;
  background: #fffef1;
}

.basket-header:after,
.basket-products:after {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 13px;
  background: url('/f/_basket/shadow.png') no-repeat center top;
  background-size: 100% 100%;
  content: '';
}

.basket-clear {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  font-size: 12px;
}

.basket-header h1 {
  margin: 10px 0 40px;
}

.basket-content {
  padding: 20px 0;
}

.basket-products {
  position: relative;
  margin-top: -50px;
}

.basket-filters {
  .nonselectable();
}

.basket-filter {
  color: @COLOR_GRAY;
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  cursor: default;
}

.basket-filter + .basket-filter {
  margin-left: 30px;
}

.basket-suggest {
  position: relative;
  margin-top: 20px;
  text-align: right;
}

.basket-suggest-title {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 15px 10px;
  margin: 0 25px;
  color: #79a747;
  font-family: 'ALS Schlange Sans';
  font-size: 16px;
  border: 1px solid rgb(192, 214, 166);
  .border-radius(6px);
  .nonselectable();
}

.basket-suggest-title:after {
  position: absolute;
  right: 20px;
  bottom: -12px;
  width: 13px;
  height: 12px;
  background: url('/f/_basket/corner.png') no-repeat center;
  content: '';
}

.basket-suggest .products {
  margin: 0 40px;
}

.basket-recommended {
  padding: 0 20px;
}

.basket-recommended-set,
.basket-recommended-more {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 40px 0;
}

.basket-recommended-more {
  width: 152px;
  height: 160px;
  padding: 70px 25px 0 5px;
  text-align: center;
  background: url('/f/personal/products/more.png') no-repeat center;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
  .basket-suggest-title:after {
    background-image: url('/f/_basket/corner@2x.png');
    background-size: 13px 12px;
  }
  .basket-bill-points {
    background-image: url('/f/_basket/pig@2x.png');
    background-size: 30px 24px;
  }
}

