/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.deals-item {
  display: block;
  margin-bottom: 60px;
  overflow: hidden;
}
.deals-item:last-child {
  margin-bottom: 0;
}
.deals-item-image {
  position: relative;
  float: left;
  vertical-align: top;
  width: 167px;
  height: 167px;
  margin-right: 20px;
}
.deals-item-image:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/f/deals/overlay.png') no-repeat center;
  content: '';
}
.deals-item-content {
  overflow: hidden;
}
.deals-item-title {
  font-family: "ALS Schlange Sans";
  font-size: 25px;
  font-weight: bold;
}
.deals-item-text {
  margin: 5px 0;
}
.deals-item-date {
  float: right;
  color: #7b7b7b;
  font-style: italic;
}
.deals-item-period {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 2px 6px;
  margin-bottom: 5px;
  color: #fff;
  background: #7aa945;
}
.deals-item-period:after {
  position: absolute;
  right: 0;
  top: 100%;
  width: 156px;
  max-width: 100%;
  height: 15px;
  background: url('/f/deals/shadow.png') no-repeat center right;
  content: '';
}
.deals-item-text {
  margin-bottom: 10px;
}
.footer-main-pre {
  margin: 20px 0;
  font-style: normal;
}
.catalog-categories-list {
  font-size: 1rem;
}