@import "../../mixins.less";


.catalog{
  margin-top: 20px;
}

.orders_header{
  margin-left: -22px;

  .col{
    display: inline-block;
    font-size: 13px;
    color: #898989;
  }

  .col_date{
    width: 30%;
    padding-left: 70px;
  }

  .col_status{
    width: 30%;
    padding-left: 28px;
  }

  .col_total{
    width: 15%;
    padding-right: 22px;
    text-align: right;
  }
}


/* order */
.order{
  margin-bottom: 14px;
  margin-left: -13px;

  .products{
    margin-bottom: 0;
  }

  .order_products{
    height: 0;
    overflow: hidden;

    .order_products_controls{
      text-align: center;
      padding-top: 22px;

      button{
        margin-right: 5px;
      }
    }
  }

  .order_header{
    cursor: pointer;
  }

  &.new .order_header{
    .order_header_bg{
      background: url("/f/personal/orders/order-new-bg.jpg");
      border: 1px solid #f0f1ce;
    }

    .col_date:before{
      background-position: 0 0;
    }
  }

  &.old .order_header{
    .order_header_bg{
      background: #eff9ff;
      border: 1px solid #d0deed;
    }

    .col_date:before{
      background-position: -38px 0;
    }
  }



  &.opened .order_header{
    .order_header_bg{
      border: none;
    }

    .col_quantity .more:after{
      background-position: 0 0;
    }
  }



}

.order .order_header{
  height: 69px;
  line-height: 69px;
  position: relative;

  .col{
    display: inline-block;
    vertical-align: middle;
  }

  .col_date{
    font-family: "ALS Schlange Sans";
    font-size: 24px;
    width: 30%;
    padding-left: 15px;

    &:before{
      content: "";
      display: inline-block;
      width: 38px;
      height: 38px;
      background: url("/f/personal/orders/status.png");
      margin-bottom: -11px;
      margin-right: 6px;
    }

    .col_date_wrapper{
      display: inline-block;
      line-height: 24px;
      vertical-align: middle;
    }

    .order-date{
      display: block;
      //float: left;
    }
    .order-number{
      display: block;
      font-family: 'Arial';
      font-size: 12px;
      font-style: italic;
      color: @COLOR_GRAY_LIGHT;
    }

  }

  .col_status{
    font-size: 13px;
    line-height: 15px;
    width: 30%;
    padding-left: 22px;
  }

  .col_total{
    font-family: "ALS Schlange Sans";
    font-size: 24px;
    font-weight: bold;
    width: 15%;
    text-align: right;
    padding-right: 22px;
  }
  .col_quantity{
    font-family: "ALS Schlange Sans";
    font-size: 24px;
    width: 25%;
    text-align: right;
    padding-right: 22px;

    .more{
      .nonselectable;
      &:after{
        content: "";
        display: inline-block;
        background: url("/f/personal/orders/arrows-vertical.png");
        background-position: 0 -9px;
        width: 17px;
        height: 9px;
        margin-left: 6px;
      }
    }
  }
}

.order .order_header .order_header_bg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 7px;

  z-index: -1;

  &.opened{
    left: -23px;
    right: -45px;
    border-radius: 0;
  }
}









