/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.catalog {
  margin-top: 20px;
}
.orders_header {
  margin-left: -22px;
}
.orders_header .col {
  display: inline-block;
  font-size: 13px;
  color: #898989;
}
.orders_header .col_date {
  width: 30%;
  padding-left: 70px;
}
.orders_header .col_status {
  width: 30%;
  padding-left: 28px;
}
.orders_header .col_total {
  width: 15%;
  padding-right: 22px;
  text-align: right;
}
/* order */
.order {
  margin-bottom: 14px;
  margin-left: -13px;
}
.order .products {
  margin-bottom: 0;
}
.order .order_products {
  height: 0;
  overflow: hidden;
}
.order .order_products .order_products_controls {
  text-align: center;
  padding-top: 22px;
}
.order .order_products .order_products_controls button {
  margin-right: 5px;
}
.order .order_header {
  cursor: pointer;
}
.order.new .order_header .order_header_bg {
  background: url("/f/personal/orders/order-new-bg.jpg");
  border: 1px solid #f0f1ce;
}
.order.new .order_header .col_date:before {
  background-position: 0 0;
}
.order.old .order_header .order_header_bg {
  background: #eff9ff;
  border: 1px solid #d0deed;
}
.order.old .order_header .col_date:before {
  background-position: -38px 0;
}
.order.opened .order_header .order_header_bg {
  border: none;
}
.order.opened .order_header .col_quantity .more:after {
  background-position: 0 0;
}
.order .order_header {
  height: 69px;
  line-height: 69px;
  position: relative;
}
.order .order_header .col {
  display: inline-block;
  vertical-align: middle;
}
.order .order_header .col_date {
  font-family: "ALS Schlange Sans";
  font-size: 24px;
  width: 30%;
  padding-left: 15px;
}
.order .order_header .col_date:before {
  content: "";
  display: inline-block;
  width: 38px;
  height: 38px;
  background: url("/f/personal/orders/status.png");
  margin-bottom: -11px;
  margin-right: 6px;
}
.order .order_header .col_date .col_date_wrapper {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}
.order .order_header .col_date .order-date {
  display: block;
  text-transform: lowercase;
}
.order .order_header .col_date .order-number {
  display: block;
  font-family: 'Arial';
  font-size: 12px;
  font-style: italic;
  color: #7b7b7b;
}
.order .order_header .col_status {
  font-size: 13px;
  line-height: 15px;
  width: 30%;
  padding-left: 22px;
}
.order .order_header .col_total {
  font-family: "ALS Schlange Sans";
  font-size: 24px;
  font-weight: bold;
  width: 15%;
  text-align: right;
  padding-right: 22px;
}
.order .order_header .col_quantity {
  font-family: "ALS Schlange Sans";
  font-size: 24px;
  width: 23%;
  text-align: right;
  padding-right: 22px;
}
.order .order_header .col_quantity .more {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.order .order_header .col_quantity .more:after {
  content: "";
  display: inline-block;
  background: url("/f/personal/orders/arrows-vertical.png");
  background-position: 0 -9px;
  width: 17px;
  height: 9px;
  margin-left: 6px;
}
.order .order_header .order_header_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 7px;
  z-index: -1;
}
.order .order_header .order_header_bg.opened {
  left: -23px;
  right: -45px;
  border-radius: 0;
}

.feedback-popup .popup-window {
  width: 615px;
}
.feedback-popup .popup-window .feedback-popup-wrapper {
  position: relative;
  display: inline-block;
}
.feedback-popup .popup-window .feedback-popup-wrapper form {
  padding: 40px 35px 35px;
  width: 615px;
  background: white;
  text-align: center;
  border-radius: 20px;
}
.feedback-popup .popup-window .feedback-popup-wrapper form h4 {
  font-family: 'Arial', sans-serif;
  font-size: 22px;
  margin: 0;
  width: 345px;
  display: inline-block;
}
.feedback-popup .popup-window .feedback-popup-wrapper form h4 img {
  float: left;
}
.feedback-popup .popup-window .feedback-popup-wrapper form p {
  font-size: 14px;
  font-style: italic;
  color: #8f8f8f;
  margin: 10px 0 40px;
}
.feedback-popup .popup-window .feedback-popup-wrapper form textarea {
  height: 235px;
  padding: 15px 10px;
  background: #f6f6f6;
  border-radius: 10px;
  resize: none;
  border: none;
  font-size: 14px;
  box-shadow: inset 0 0 10px 1px rgba(0,0,0, .1);
  margin-bottom: 35px;
}
.feedback-popup .popup-window .feedback-popup-wrapper form .button-green {
  height: 41px;
  width: 188px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.feedback-popup .popup-window .feedback-popup-wrapper form textarea::-webkit-input-placeholder {
    color: #8f8f8f;
    font-style: italic;
   }
.feedback-popup .popup-window .feedback-popup-wrapper form textarea::-moz-placeholder{
    color: #8f8f8f;
    font-style: italic;
}
.feedback-popup .popup-window .feedback-popup-wrapper form textarea::-o-input-placeholder {
    color: #8f8f8f;
    font-style: italic;
}
.feedback-popup .popup-window .feedback-popup-wrapper form textarea::-ms-textarea-placeholder {
    color: #8f8f8f;
    font-style: italic;
}
