/* colors */
.secondary {
  font-style: italic;
  color: #656565;
}
.important {
  font-weight: bolder;
  color: #9b0011;
}
.nonselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.layout {
  margin: 0 auto -250px;
}
.page {
  /*padding-bottom: @FOOTER_HEIGHT;*/
  padding-bottom: 0;
}
.confirmation .tab-header {
  color: #308011;
}
.confirmation .tabs-contents {
  width: 664px;
  background: #f2f4f1;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}