@import "../mixins.less";

@FOOTER_HEIGHT: 250px;

.layout {
  margin: 0 auto -@FOOTER_HEIGHT;
}

.page {
  /*padding-bottom: @FOOTER_HEIGHT;*/
  padding-bottom: 0;
}





.confirmation{
  .tab-header{
    color: @COLOR_GREEN;
  }

  .tabs-contents {
    width: 664px;
    background: @COLOR_GRAY_LIGHTEST;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

